examples/01-publish-subscribe.json
[
    {
        "id": "publish-subscribe-examples",
        "type": "tab",
        "label": "Publish & Subscribe Examples",
        "disabled": false,
        "info": "Examples for nats-suite-publish and nats-suite-subscribe nodes\n\nFeatures demonstrated:\n- Basic publish (JSON, String, Buffer)\n- Message Headers\n- Message Expiration (TTL)\n- Buffering\n- Batch Processing\n- Rate Limiting\n- Subscribe with auto/manual parsing\n- Wildcard subjects"
    },
    {
        "id": "example-nats-server",
        "type": "nats-suite-server",
        "name": "NATS Server",
        "server": "nats://localhost:4222",
        "authMethod": "none",
        "enableTLS": false
    },
    {
        "id": "comment-publish",
        "type": "comment",
        "z": "publish-subscribe-examples",
        "name": "=== PUBLISH EXAMPLES ===",
        "info": "",
        "x": 160,
        "y": 40,
        "wires": []
    },
    {
        "id": "inject-basic-json",
        "type": "inject",
        "z": "publish-subscribe-examples",
        "name": "1. Basic JSON",
        "props": [{"p": "payload"}],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "test.basic",
        "payload": "{\"temperature\":23.5,\"humidity\":45}",
        "payloadType": "json",
        "x": 140,
        "y": 100,
        "wires": [["publish-basic"]]
    },
    {
        "id": "publish-basic",
        "type": "nats-suite-publish",
        "z": "publish-subscribe-examples",
        "name": "Publish Basic",
        "server": "example-nats-server",
        "dataformat": "json",
        "datapointid": "test.basic",
        "enableBuffer": false,
        "enableBatch": false,
        "enableRateLimit": false,
        "enableHeaders": false,
        "enableMsgExpiration": false,
        "enableAutoReply": false,
        "debug": true,
        "x": 350,
        "y": 100,
        "wires": [[]]
    },
    {
        "id": "inject-with-headers",
        "type": "inject",
        "z": "publish-subscribe-examples",
        "name": "2. With Headers",
        "props": [
            {"p": "payload"},
            {"p": "headers", "v": "{\"X-User\":\"Admin\",\"X-Request-ID\":\"req-123\"}", "vt": "json"}
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "test.headers",
        "payload": "{\"message\":\"Test with headers\"}",
        "payloadType": "json",
        "x": 150,
        "y": 160,
        "wires": [["publish-headers"]]
    },
    {
        "id": "publish-headers",
        "type": "nats-suite-publish",
        "z": "publish-subscribe-examples",
        "name": "Publish Headers",
        "server": "example-nats-server",
        "dataformat": "json",
        "datapointid": "test.headers",
        "enableBuffer": false,
        "enableHeaders": true,
        "headers": "{\"X-App\":\"Node-RED\",\"X-Version\":\"1.0\"}",
        "enableMsgExpiration": false,
        "enableAutoReply": false,
        "debug": true,
        "x": 360,
        "y": 160,
        "wires": [[]]
    },
    {
        "id": "inject-buffering",
        "type": "inject",
        "z": "publish-subscribe-examples",
        "name": "3. Buffered Publish",
        "props": [{"p": "payload"}],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "test.buffer",
        "payload": "{\"id\":1,\"data\":\"buffered message\"}",
        "payloadType": "json",
        "x": 160,
        "y": 220,
        "wires": [["publish-buffered"]]
    },
    {
        "id": "publish-buffered",
        "type": "nats-suite-publish",
        "z": "publish-subscribe-examples",
        "name": "Publish Buffered",
        "server": "example-nats-server",
        "dataformat": "json",
        "datapointid": "test.buffer",
        "enableBuffer": true,
        "bufferSize": 100,
        "bufferSizeType": "count",
        "bufferMode": "drop-oldest",
        "bufferPersistence": "context",
        "enableBatch": false,
        "enableRateLimit": false,
        "debug": true,
        "x": 370,
        "y": 220,
        "wires": [[]]
    },
    {
        "id": "comment-subscribe",
        "type": "comment",
        "z": "publish-subscribe-examples",
        "name": "=== SUBSCRIBE EXAMPLES ===",
        "info": "",
        "x": 170,
        "y": 300,
        "wires": []
    },
    {
        "id": "subscribe-auto",
        "type": "nats-suite-subscribe",
        "z": "publish-subscribe-examples",
        "name": "Subscribe Auto Parse",
        "server": "example-nats-server",
        "dataformat": "auto",
        "datapointid": "test.>",
        "topicfield": "subject",
        "subscriptionMode": "static",
        "debug": true,
        "x": 200,
        "y": 360,
        "wires": [["debug-subscribe"]]
    },
    {
        "id": "debug-subscribe",
        "type": "debug",
        "z": "publish-subscribe-examples",
        "name": "Subscribe Output",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "topic",
        "statusType": "auto",
        "x": 430,
        "y": 360,
        "wires": []
    },
    {
        "id": "subscribe-json",
        "type": "nats-suite-subscribe",
        "z": "publish-subscribe-examples",
        "name": "Subscribe JSON Only",
        "server": "example-nats-server",
        "dataformat": "json",
        "datapointid": "test.json",
        "topicfield": "subject",
        "subscriptionMode": "static",
        "debug": false,
        "x": 210,
        "y": 420,
        "wires": [["debug-json"]]
    },
    {
        "id": "debug-json",
        "type": "debug",
        "z": "publish-subscribe-examples",
        "name": "JSON Output",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 430,
        "y": 420,
        "wires": []
    }
]

