examples/02-jetstream.json
[
    {
        "id": "jetstream-examples",
        "type": "tab",
        "label": "JetStream Examples",
        "disabled": false,
        "info": "Examples for nats-suite-stream-publisher and nats-suite-stream-consumer nodes\n\nFeatures demonstrated:\n- Stream creation/update\n- Message publishing with persistence\n- Consumer creation\n- Message consumption with acknowledgment\n- Pause/Resume consumers"
    },
    {
        "id": "example-nats-server",
        "type": "nats-suite-server",
        "name": "NATS Server",
        "server": "nats://localhost:4222",
        "authMethod": "none"
    },
    {
        "id": "comment-publisher",
        "type": "comment",
        "z": "jetstream-examples",
        "name": "=== STREAM PUBLISHER ===",
        "info": "",
        "x": 160,
        "y": 40,
        "wires": []
    },
    {
        "id": "inject-create-stream",
        "type": "inject",
        "z": "jetstream-examples",
        "name": "1. Create Stream",
        "props": [{"p": "payload"}],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 100,
        "wires": [["function-create-stream"]]
    },
    {
        "id": "function-create-stream",
        "type": "function",
        "z": "jetstream-examples",
        "name": "Set Operation",
        "func": "msg.operation = \"create\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 100,
        "wires": [["stream-publisher"]]
    },
    {
        "id": "stream-publisher",
        "type": "nats-suite-stream-publisher",
        "z": "jetstream-examples",
        "name": "Stream Publisher",
        "server": "example-nats-server",
        "streamName": "EVENTS",
        "subjectPattern": "events.>",
        "defaultSubject": "events.data",
        "operation": "publish",
        "retention": "limits",
        "maxMessages": 10000,
        "maxAge": "24h",
        "storage": "file",
        "debug": true,
        "x": 580,
        "y": 100,
        "wires": [["debug-stream-result"]]
    },
    {
        "id": "debug-stream-result",
        "type": "debug",
        "z": "jetstream-examples",
        "name": "Stream Result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 100,
        "wires": []
    },
    {
        "id": "inject-publish-stream",
        "type": "inject",
        "z": "jetstream-examples",
        "name": "2. Publish Message",
        "props": [{"p": "payload"}, {"p": "subject", "v": "events.sensor", "vt": "str"}],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"sensor\":\"temp-01\",\"value\":23.5}",
        "payloadType": "json",
        "x": 170,
        "y": 160,
        "wires": [["stream-publisher"]]
    },
    {
        "id": "comment-consumer",
        "type": "comment",
        "z": "jetstream-examples",
        "name": "=== STREAM CONSUMER ===",
        "info": "",
        "x": 170,
        "y": 240,
        "wires": []
    },
    {
        "id": "inject-create-consumer",
        "type": "inject",
        "z": "jetstream-examples",
        "name": "3. Create Consumer",
        "props": [{"p": "payload"}],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 300,
        "wires": [["function-create-consumer"]]
    },
    {
        "id": "function-create-consumer",
        "type": "function",
        "z": "jetstream-examples",
        "name": "Set Operation",
        "func": "msg.operation = \"create\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 300,
        "wires": [["stream-consumer"]]
    },
    {
        "id": "stream-consumer",
        "type": "nats-suite-stream-consumer",
        "z": "jetstream-examples",
        "name": "Stream Consumer",
        "server": "example-nats-server",
        "streamName": "EVENTS",
        "consumerName": "event-processor",
        "operation": "consume",
        "consumerType": "pull",
        "ackPolicy": "explicit",
        "deliverPolicy": "all",
        "batchSize": 10,
        "debug": true,
        "x": 610,
        "y": 300,
        "wires": [["function-ack"]]
    },
    {
        "id": "function-ack",
        "type": "function",
        "z": "jetstream-examples",
        "name": "ACK & Process",
        "func": "// Process the message\nnode.warn('Received: ' + JSON.stringify(msg.payload));\n\n// Acknowledge the message\nif (msg.ack) {\n    msg.ack();\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 300,
        "wires": [["debug-consumer-result"]]
    },
    {
        "id": "debug-consumer-result",
        "type": "debug",
        "z": "jetstream-examples",
        "name": "Consumer Output",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1030,
        "y": 300,
        "wires": []
    },
    {
        "id": "inject-consume",
        "type": "inject",
        "z": "jetstream-examples",
        "name": "4. Consume Messages",
        "props": [{"p": "payload"}],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 360,
        "wires": [["stream-consumer"]]
    }
]

