examples/03-kv-store.json
[
    {
        "id": "kv-examples",
        "type": "tab",
        "label": "Key-Value Store Examples",
        "disabled": false,
        "info": "Examples for nats-suite-kv-get and nats-suite-kv-put nodes\n\nFeatures demonstrated:\n- Put/Get operations\n- Delete/Purge keys\n- List all keys\n- Watch for changes\n- Bucket management"
    },
    {
        "id": "example-nats-server",
        "type": "nats-suite-server",
        "name": "NATS Server",
        "server": "nats://localhost:4222",
        "authMethod": "none"
    },
    {
        "id": "comment-kv-put",
        "type": "comment",
        "z": "kv-examples",
        "name": "=== KV PUT OPERATIONS ===",
        "info": "",
        "x": 170,
        "y": 40,
        "wires": []
    },
    {
        "id": "inject-kv-put",
        "type": "inject",
        "z": "kv-examples",
        "name": "1. Put Key",
        "props": [{"p": "payload"}, {"p": "key", "v": "config.timeout", "vt": "str"}],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"value\":5000,\"unit\":\"ms\"}",
        "payloadType": "json",
        "x": 140,
        "y": 100,
        "wires": [["kv-put"]]
    },
    {
        "id": "kv-put",
        "type": "nats-suite-kv-put",
        "z": "kv-examples",
        "name": "KV Put",
        "server": "example-nats-server",
        "bucket": "settings",
        "operation": "put",
        "keyFrom": "msg",
        "valueFrom": "payload",
        "stringifyJSON": true,
        "debug": true,
        "x": 350,
        "y": 100,
        "wires": [["debug-put"]]
    },
    {
        "id": "debug-put",
        "type": "debug",
        "z": "kv-examples",
        "name": "Put Result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 550,
        "y": 100,
        "wires": []
    },
    {
        "id": "inject-kv-delete",
        "type": "inject",
        "z": "kv-examples",
        "name": "2. Delete Key",
        "props": [{"p": "key", "v": "config.timeout", "vt": "str"}],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 160,
        "wires": [["kv-delete"]]
    },
    {
        "id": "kv-delete",
        "type": "nats-suite-kv-put",
        "z": "kv-examples",
        "name": "KV Delete",
        "server": "example-nats-server",
        "bucket": "settings",
        "operation": "delete",
        "keyFrom": "msg",
        "valueFrom": "payload",
        "stringifyJSON": true,
        "debug": true,
        "x": 370,
        "y": 160,
        "wires": [["debug-delete"]]
    },
    {
        "id": "debug-delete",
        "type": "debug",
        "z": "kv-examples",
        "name": "Delete Result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 570,
        "y": 160,
        "wires": []
    },
    {
        "id": "comment-kv-get",
        "type": "comment",
        "z": "kv-examples",
        "name": "=== KV GET OPERATIONS ===",
        "info": "",
        "x": 170,
        "y": 240,
        "wires": []
    },
    {
        "id": "inject-kv-get",
        "type": "inject",
        "z": "kv-examples",
        "name": "3. Get Key",
        "props": [{"p": "key", "v": "config.timeout", "vt": "str"}],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 300,
        "wires": [["kv-get"]]
    },
    {
        "id": "kv-get",
        "type": "nats-suite-kv-get",
        "z": "kv-examples",
        "name": "KV Get",
        "server": "example-nats-server",
        "bucket": "settings",
        "mode": "get",
        "keyFrom": "msg",
        "parseJSON": true,
        "debug": true,
        "x": 350,
        "y": 300,
        "wires": [["debug-get"]]
    },
    {
        "id": "debug-get",
        "type": "debug",
        "z": "kv-examples",
        "name": "Get Result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 550,
        "y": 300,
        "wires": []
    },
    {
        "id": "inject-kv-keys",
        "type": "inject",
        "z": "kv-examples",
        "name": "4. List Keys",
        "props": [{"p": "payload"}],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 360,
        "wires": [["kv-keys"]]
    },
    {
        "id": "kv-keys",
        "type": "nats-suite-kv-get",
        "z": "kv-examples",
        "name": "KV List Keys",
        "server": "example-nats-server",
        "bucket": "settings",
        "mode": "keys",
        "keyFrom": "config",
        "parseJSON": true,
        "debug": true,
        "x": 370,
        "y": 360,
        "wires": [["debug-keys"]]
    },
    {
        "id": "debug-keys",
        "type": "debug",
        "z": "kv-examples",
        "name": "Keys Result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 570,
        "y": 360,
        "wires": []
    },
    {
        "id": "kv-watch",
        "type": "nats-suite-kv-get",
        "z": "kv-examples",
        "name": "5. Watch Keys",
        "server": "example-nats-server",
        "bucket": "settings",
        "mode": "watch",
        "watchPattern": "config.*",
        "ignoreDeletes": false,
        "parseJSON": true,
        "debug": true,
        "x": 180,
        "y": 420,
        "wires": [["debug-watch"]]
    },
    {
        "id": "debug-watch",
        "type": "debug",
        "z": "kv-examples",
        "name": "Watch Events",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "key",
        "statusType": "auto",
        "x": 410,
        "y": 420,
        "wires": []
    }
]

