examples/04-object-store.json
[
    {
        "id": "object-examples",
        "type": "tab",
        "label": "Object Store Examples",
        "disabled": false,
        "info": "Examples for nats-suite-object-put and nats-suite-object-get nodes\n\nFeatures demonstrated:\n- Object upload\n- Object download\n- Object listing\n- Object deletion\n- Bucket management"
    },
    {
        "id": "example-nats-server",
        "type": "nats-suite-server",
        "name": "NATS Server",
        "server": "nats://localhost:4222",
        "authMethod": "none"
    },
    {
        "id": "comment-object-put",
        "type": "comment",
        "z": "object-examples",
        "name": "=== OBJECT PUT OPERATIONS ===",
        "info": "",
        "x": 180,
        "y": 40,
        "wires": []
    },
    {
        "id": "inject-put-object",
        "type": "inject",
        "z": "object-examples",
        "name": "1. Put Object",
        "props": [
            {"p": "payload"},
            {"p": "objectName", "v": "config.json", "vt": "str"}
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"app\":\"MyApp\",\"version\":\"1.0.0\",\"settings\":{\"theme\":\"dark\"}}",
        "payloadType": "json",
        "x": 150,
        "y": 100,
        "wires": [["object-put"]]
    },
    {
        "id": "object-put",
        "type": "nats-suite-object-put",
        "z": "object-examples",
        "name": "Object Put",
        "server": "example-nats-server",
        "bucket": "files",
        "operation": "put",
        "nameFrom": "msg",
        "dataFrom": "payload",
        "debug": true,
        "x": 370,
        "y": 100,
        "wires": [["debug-put"]]
    },
    {
        "id": "debug-put",
        "type": "debug",
        "z": "object-examples",
        "name": "Put Result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 570,
        "y": 100,
        "wires": []
    },
    {
        "id": "inject-delete-object",
        "type": "inject",
        "z": "object-examples",
        "name": "2. Delete Object",
        "props": [{"p": "objectName", "v": "config.json", "vt": "str"}],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 160,
        "wires": [["object-delete"]]
    },
    {
        "id": "object-delete",
        "type": "nats-suite-object-put",
        "z": "object-examples",
        "name": "Object Delete",
        "server": "example-nats-server",
        "bucket": "files",
        "operation": "delete",
        "nameFrom": "msg",
        "dataFrom": "payload",
        "debug": true,
        "x": 390,
        "y": 160,
        "wires": [["debug-delete"]]
    },
    {
        "id": "debug-delete",
        "type": "debug",
        "z": "object-examples",
        "name": "Delete Result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 590,
        "y": 160,
        "wires": []
    },
    {
        "id": "comment-object-get",
        "type": "comment",
        "z": "object-examples",
        "name": "=== OBJECT GET OPERATIONS ===",
        "info": "",
        "x": 180,
        "y": 240,
        "wires": []
    },
    {
        "id": "inject-get-object",
        "type": "inject",
        "z": "object-examples",
        "name": "3. Get Object",
        "props": [{"p": "objectName", "v": "config.json", "vt": "str"}],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 300,
        "wires": [["object-get"]]
    },
    {
        "id": "object-get",
        "type": "nats-suite-object-get",
        "z": "object-examples",
        "name": "Object Get",
        "server": "example-nats-server",
        "bucket": "files",
        "operation": "get",
        "nameFrom": "msg",
        "outputFormat": "json",
        "debug": true,
        "x": 370,
        "y": 300,
        "wires": [["debug-get"]]
    },
    {
        "id": "debug-get",
        "type": "debug",
        "z": "object-examples",
        "name": "Get Result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 570,
        "y": 300,
        "wires": []
    },
    {
        "id": "inject-list-objects",
        "type": "inject",
        "z": "object-examples",
        "name": "4. List Objects",
        "props": [{"p": "payload"}],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 360,
        "wires": [["object-list"]]
    },
    {
        "id": "object-list",
        "type": "nats-suite-object-get",
        "z": "object-examples",
        "name": "Object List",
        "server": "example-nats-server",
        "bucket": "files",
        "operation": "list",
        "nameFrom": "config",
        "outputFormat": "json",
        "debug": true,
        "x": 380,
        "y": 360,
        "wires": [["debug-list"]]
    },
    {
        "id": "debug-list",
        "type": "debug",
        "z": "object-examples",
        "name": "List Result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 360,
        "wires": []
    }
]

