examples/05-service.json
[
    {
        "id": "service-examples",
        "type": "tab",
        "label": "Service API Examples",
        "disabled": false,
        "info": "Examples for nats-suite-service node\n\nFeatures demonstrated:\n- Service Discovery\n- Service Stats\n- Service Ping\n- Running a Service Endpoint\n- Health Check\n- NATS Stats"
    },
    {
        "id": "example-nats-server",
        "type": "nats-suite-server",
        "name": "NATS Server",
        "server": "nats://localhost:4222",
        "authMethod": "none"
    },
    {
        "id": "comment-service-endpoint",
        "type": "comment",
        "z": "service-examples",
        "name": "=== SERVICE ENDPOINT ===",
        "info": "",
        "x": 170,
        "y": 40,
        "wires": []
    },
    {
        "id": "service-echo",
        "type": "nats-suite-service",
        "z": "service-examples",
        "name": "Echo Service",
        "server": "example-nats-server",
        "mode": "service",
        "serviceName": "echo-service",
        "serviceVersion": "1.0.0",
        "serviceDescription": "Simple Echo Service",
        "endpoint": "echo",
        "endpointSubject": "echo.request",
        "queueGroup": "echo-workers",
        "autoStart": true,
        "debug": true,
        "x": 190,
        "y": 100,
        "wires": [["function-echo-handler"]]
    },
    {
        "id": "function-echo-handler",
        "type": "function",
        "z": "service-examples",
        "name": "Echo Handler",
        "func": "const request = msg.payload;\n\nconst response = {\n    echo: request,\n    timestamp: Date.now(),\n    service: 'echo-service'\n};\n\nmsg.respond(response);\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 100,
        "wires": []
    },
    {
        "id": "comment-discovery",
        "type": "comment",
        "z": "service-examples",
        "name": "=== SERVICE DISCOVERY & MONITORING ===",
        "info": "",
        "x": 220,
        "y": 180,
        "wires": []
    },
    {
        "id": "inject-discover",
        "type": "inject",
        "z": "service-examples",
        "name": "1. Discover Services",
        "props": [{"p": "payload"}],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 240,
        "wires": [["service-discover"]]
    },
    {
        "id": "service-discover",
        "type": "nats-suite-service",
        "z": "service-examples",
        "name": "Service Discovery",
        "server": "example-nats-server",
        "mode": "discover",
        "serviceName": "*",
        "autoStart": false,
        "debug": true,
        "x": 410,
        "y": 240,
        "wires": [["debug-discover"]]
    },
    {
        "id": "debug-discover",
        "type": "debug",
        "z": "service-examples",
        "name": "Discovery Result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 240,
        "wires": []
    },
    {
        "id": "inject-stats",
        "type": "inject",
        "z": "service-examples",
        "name": "2. Service Stats",
        "props": [{"p": "payload"}],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 300,
        "wires": [["service-stats"]]
    },
    {
        "id": "service-stats",
        "type": "nats-suite-service",
        "z": "service-examples",
        "name": "Service Stats",
        "server": "example-nats-server",
        "mode": "stats",
        "serviceName": "*",
        "autoStart": false,
        "debug": true,
        "x": 390,
        "y": 300,
        "wires": [["debug-stats"]]
    },
    {
        "id": "debug-stats",
        "type": "debug",
        "z": "service-examples",
        "name": "Stats Result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 610,
        "y": 300,
        "wires": []
    },
    {
        "id": "inject-ping",
        "type": "inject",
        "z": "service-examples",
        "name": "3. Ping Services",
        "props": [{"p": "payload"}],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 360,
        "wires": [["service-ping"]]
    },
    {
        "id": "service-ping",
        "type": "nats-suite-service",
        "z": "service-examples",
        "name": "Service Ping",
        "server": "example-nats-server",
        "mode": "ping",
        "serviceName": "echo-service",
        "autoStart": false,
        "debug": true,
        "x": 390,
        "y": 360,
        "wires": [["debug-ping"]]
    },
    {
        "id": "debug-ping",
        "type": "debug",
        "z": "service-examples",
        "name": "Ping Result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 610,
        "y": 360,
        "wires": []
    },
    {
        "id": "comment-health",
        "type": "comment",
        "z": "service-examples",
        "name": "=== HEALTH & NATS STATS ===",
        "info": "",
        "x": 180,
        "y": 440,
        "wires": []
    },
    {
        "id": "inject-health",
        "type": "inject",
        "z": "service-examples",
        "name": "4. Health Check",
        "props": [{"p": "payload"}],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 500,
        "wires": [["service-health"]]
    },
    {
        "id": "service-health",
        "type": "nats-suite-service",
        "z": "service-examples",
        "name": "Health Check",
        "server": "example-nats-server",
        "mode": "health",
        "checkOnStart": false,
        "periodicCheck": false,
        "enableConnectivityTests": true,
        "latencyThreshold": 100,
        "debug": true,
        "x": 390,
        "y": 500,
        "wires": [["debug-health"]]
    },
    {
        "id": "debug-health",
        "type": "debug",
        "z": "service-examples",
        "name": "Health Result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload.status",
        "statusType": "auto",
        "x": 610,
        "y": 500,
        "wires": []
    },
    {
        "id": "inject-nats-stats",
        "type": "inject",
        "z": "service-examples",
        "name": "5. NATS Stats",
        "props": [{"p": "payload"}],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 560,
        "wires": [["service-nats-stats"]]
    },
    {
        "id": "service-nats-stats",
        "type": "nats-suite-service",
        "z": "service-examples",
        "name": "NATS Stats",
        "server": "example-nats-server",
        "mode": "nats-stats",
        "statsType": "all",
        "debug": true,
        "x": 380,
        "y": 560,
        "wires": [["debug-nats-stats"]]
    },
    {
        "id": "debug-nats-stats",
        "type": "debug",
        "z": "service-examples",
        "name": "NATS Stats Result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 610,
        "y": 560,
        "wires": []
    }
]

