examples/06-server-manager.json
[
    {
        "id": "server-manager-examples",
        "type": "tab",
        "label": "Server Manager Examples",
        "disabled": false,
        "info": "Examples for nats-suite-server-manager node\n\nFeatures demonstrated:\n- Start/Stop/Restart embedded NATS server\n- Status check\n- Standalone and Leaf Node modes"
    },
    {
        "id": "comment-server-manager",
        "type": "comment",
        "z": "server-manager-examples",
        "name": "=== EMBEDDED NATS SERVER ===",
        "info": "",
        "x": 180,
        "y": 40,
        "wires": []
    },
    {
        "id": "server-manager",
        "type": "nats-suite-server-manager",
        "z": "server-manager-examples",
        "name": "Embedded Server",
        "port": 4222,
        "enableJetStream": true,
        "storeDir": "",
        "enableLeafNodeMode": false,
        "leafPort": 7422,
        "leafRemoteUrl": "",
        "leafRemoteUser": "",
        "leafRemotePass": "",
        "autoStart": false,
        "debug": true,
        "x": 400,
        "y": 100,
        "wires": [["debug-server"]]
    },
    {
        "id": "debug-server",
        "type": "debug",
        "z": "server-manager-examples",
        "name": "Server Result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload.status",
        "statusType": "auto",
        "x": 620,
        "y": 100,
        "wires": []
    },
    {
        "id": "inject-start",
        "type": "inject",
        "z": "server-manager-examples",
        "name": "1. Start Server",
        "props": [{"p": "payload"}],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"command\":\"start\"}",
        "payloadType": "json",
        "x": 160,
        "y": 100,
        "wires": [["server-manager"]]
    },
    {
        "id": "inject-stop",
        "type": "inject",
        "z": "server-manager-examples",
        "name": "2. Stop Server",
        "props": [{"p": "payload"}],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"command\":\"stop\"}",
        "payloadType": "json",
        "x": 160,
        "y": 160,
        "wires": [["server-manager"]]
    },
    {
        "id": "inject-restart",
        "type": "inject",
        "z": "server-manager-examples",
        "name": "3. Restart Server",
        "props": [{"p": "payload"}],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"command\":\"restart\"}",
        "payloadType": "json",
        "x": 170,
        "y": 220,
        "wires": [["server-manager"]]
    },
    {
        "id": "inject-status",
        "type": "inject",
        "z": "server-manager-examples",
        "name": "4. Status Check",
        "props": [{"p": "payload"}],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"command\":\"status\"}",
        "payloadType": "json",
        "x": 160,
        "y": 280,
        "wires": [["server-manager"]]
    }
]

