node-red/flows.json
[
    {
        "id": "d970d99ab7b62ec8",
        "type": "tab",
        "label": "Publish / Subscribe",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "headers-example",
        "type": "tab",
        "label": "01 - Message Headers Test",
        "disabled": false,
        "info": "Test for Message Headers feature\n\n1. Deploy the flow\n2. Click the inject node\n3. Check debug output: headers should be present"
    },
    {
        "id": "7af22689f9d37b1b",
        "type": "tab",
        "label": "Publish Node - All Features",
        "disabled": true,
        "info": "Comprehensive examples for nats-suite-publish node\n\nFeatures demonstrated:\n- Basic publish (JSON, String, Buffer)\n- Message Headers (static + dynamic)\n- Message Expiration (TTL)\n- Buffering (count + bytes, persistence)\n- Batch Processing\n- Rate Limiting\n- Auto-Reply Handler"
    },
    {
        "id": "fdf4576e5737a4e2",
        "type": "tab",
        "label": "Request-Reply (Pub/Sub)",
        "disabled": false,
        "info": "Request-Reply Pattern mit Publish/Subscribe\n\nDieser Flow demonstriert, wie man Request-Reply\nmit einfachen Publish und Subscribe Nodes aufbaut,\nohne nats-suite-request oder nats-suite-reply zu verwenden.\n\nPrinzip:\n1. Requester published mit eigenem Reply-Subject\n2. Service subscribed, verarbeitet und published Antwort\n3. Requester subscribed auf Reply-Subject für Antwort"
    },
    {
        "id": "324298df8d0fb52b",
        "type": "tab",
        "label": "Server Manager",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f28cb49418cb6492",
        "type": "tab",
        "label": "Key / Value",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "9e93672bca22fbc8",
        "type": "tab",
        "label": "Steam",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "57e4b60b1a3773af",
        "type": "group",
        "z": "d970d99ab7b62ec8",
        "name": "Publish / Subscribe with static configuration",
        "style": {
            "label": true
        },
        "nodes": [
            "04aeed2b87e4e013",
            "78874a82ba1e7509",
            "060c7560e4168a96",
            "31c86211ff3baee8"
        ],
        "x": 54,
        "y": 79,
        "w": 472,
        "h": 182
    },
    {
        "id": "4a596234a8f01e9a",
        "type": "group",
        "z": "d970d99ab7b62ec8",
        "name": "Publish / Subscribe with dynamic configuration",
        "style": {
            "label": true
        },
        "nodes": [
            "1be4ea661e3423eb",
            "1af4ad6ba44486f5",
            "61ae67c734bffcd5",
            "9e4b23ecabcccc35",
            "ec93affb1a3aff0b",
            "adfad31ad674b7b2",
            "75f251e4080920db"
        ],
        "x": 54,
        "y": 319,
        "w": 832,
        "h": 182
    },
    {
        "id": "a5513e20d799b3a3",
        "type": "group",
        "z": "d970d99ab7b62ec8",
        "name": "Publish / Subscribe with dynamic configuration and queue group",
        "style": {
            "label": true
        },
        "nodes": [
            "b0d0e2adea986b04",
            "a5826a62572813e9",
            "485c27611beee4b2",
            "3166bc35a3d33c24",
            "1cbfeb8ce2bfed7c",
            "750834eb20cc4c7f",
            "b947e610ed90c5ed",
            "5ced62895cbeaac7",
            "ce73e73e40964a33",
            "9c7f6ad3607d0eaf",
            "cbc6ca7e702c9df2",
            "f2cceff68fc8b949"
        ],
        "x": 54,
        "y": 559,
        "w": 832,
        "h": 282
    },
    {
        "id": "f299d3b622714522",
        "type": "nats-suite-server",
        "server": "nats://nats-server:4222",
        "authMethod": "none",
        "enableTLS": false,
        "tlsRejectUnauthorized": true,
        "tlsCaFile": "",
        "tlsCertFile": "",
        "tlsKeyFile": "",
        "maxReconnectAttempts": 10,
        "reconnectTimeWait": 1000,
        "timeout": 10000,
        "pingInterval": 30000,
        "maxPingOut": 3,
        "debug": false
    },
    {
        "id": "63f3bd466aaef063",
        "type": "nats-suite-server",
        "server": "nats://localhost:4223",
        "authMethod": "none",
        "enableTLS": false,
        "tlsRejectUnauthorized": true,
        "tlsCaFile": "",
        "tlsCertFile": "",
        "tlsKeyFile": "",
        "maxReconnectAttempts": "",
        "reconnectTimeWait": "",
        "timeout": "",
        "pingInterval": "",
        "maxPingOut": "",
        "debug": true
    },
    {
        "id": "04aeed2b87e4e013",
        "type": "inject",
        "z": "d970d99ab7b62ec8",
        "g": "57e4b60b1a3773af",
        "name": "1. Basic JSON",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "test123",
        "payload": "{\"temperature\":23.5,\"humidity\":45}",
        "payloadType": "json",
        "x": 180,
        "y": 120,
        "wires": [
            [
                "31c86211ff3baee8"
            ]
        ]
    },
    {
        "id": "78874a82ba1e7509",
        "type": "nats-suite-subscribe",
        "z": "d970d99ab7b62ec8",
        "g": "57e4b60b1a3773af",
        "name": "",
        "server": "63f3bd466aaef063",
        "debug": false,
        "dataformat": "auto",
        "datapointid": "test.publish_subscribe",
        "subscriptionMode": "static",
        "queueGroup": "",
        "x": 170,
        "y": 220,
        "wires": [
            [
                "060c7560e4168a96"
            ]
        ]
    },
    {
        "id": "060c7560e4168a96",
        "type": "debug",
        "z": "d970d99ab7b62ec8",
        "g": "57e4b60b1a3773af",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 420,
        "y": 220,
        "wires": []
    },
    {
        "id": "31c86211ff3baee8",
        "type": "nats-suite-publish",
        "z": "d970d99ab7b62ec8",
        "g": "57e4b60b1a3773af",
        "name": "",
        "server": "63f3bd466aaef063",
        "debug": false,
        "enableBuffer": false,
        "mode": "publish",
        "bufferSize": 1000,
        "bufferSizeType": "count",
        "bufferSizeBytes": 10485760,
        "bufferMode": "drop-oldest",
        "bufferPersistence": "none",
        "bufferAutoSaveInterval": 30,
        "message": "",
        "dataformat": "json",
        "datapointid": "test.publish_subscribe",
        "enableTopicOverride": false,
        "enableBatch": false,
        "batchSize": 100,
        "batchInterval": 1000,
        "batchMode": "hybrid",
        "requestTimeout": 5000,
        "requestFallbackToPublish": true,
        "enableAutoReply": false,
        "replyTimeout": 5000,
        "enableRateLimit": false,
        "rateLimit": 100,
        "rateLimitWindow": 1000,
        "rateLimitBurst": 20,
        "rateLimitAction": "drop",
        "enableHeaders": false,
        "headers": "",
        "enableMsgExpiration": false,
        "msgExpiration": 0,
        "outputs": 0,
        "x": 390,
        "y": 120,
        "wires": []
    },
    {
        "id": "1be4ea661e3423eb",
        "type": "inject",
        "z": "d970d99ab7b62ec8",
        "g": "4a596234a8f01e9a",
        "name": "1. Basic JSON",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "test.publish_subscribe_dynamic",
        "payload": "{\"temperature\":23.5,\"humidity\":45}",
        "payloadType": "json",
        "x": 180,
        "y": 360,
        "wires": [
            [
                "9e4b23ecabcccc35"
            ]
        ]
    },
    {
        "id": "1af4ad6ba44486f5",
        "type": "nats-suite-subscribe",
        "z": "d970d99ab7b62ec8",
        "g": "4a596234a8f01e9a",
        "name": "",
        "server": "63f3bd466aaef063",
        "debug": false,
        "dataformat": "auto",
        "datapointid": "test.publish_subscribe",
        "subscriptionMode": "dynamic",
        "queueGroup": "",
        "x": 610,
        "y": 460,
        "wires": [
            [
                "61ae67c734bffcd5"
            ]
        ]
    },
    {
        "id": "61ae67c734bffcd5",
        "type": "debug",
        "z": "d970d99ab7b62ec8",
        "g": "4a596234a8f01e9a",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 780,
        "y": 460,
        "wires": []
    },
    {
        "id": "9e4b23ecabcccc35",
        "type": "nats-suite-publish",
        "z": "d970d99ab7b62ec8",
        "g": "4a596234a8f01e9a",
        "name": "",
        "server": "63f3bd466aaef063",
        "debug": false,
        "enableBuffer": false,
        "mode": "publish",
        "bufferSize": 1000,
        "bufferSizeType": "count",
        "bufferSizeBytes": 10485760,
        "bufferMode": "drop-oldest",
        "bufferPersistence": "none",
        "bufferAutoSaveInterval": 30,
        "message": "",
        "dataformat": "json",
        "datapointid": "",
        "enableTopicOverride": true,
        "enableBatch": false,
        "batchSize": 100,
        "batchInterval": 1000,
        "batchMode": "hybrid",
        "requestTimeout": 5000,
        "requestFallbackToPublish": true,
        "enableAutoReply": false,
        "replyTimeout": 5000,
        "enableRateLimit": false,
        "rateLimit": 100,
        "rateLimitWindow": 1000,
        "rateLimitBurst": 20,
        "rateLimitAction": "drop",
        "enableHeaders": false,
        "headers": "",
        "enableMsgExpiration": false,
        "msgExpiration": 0,
        "outputs": 0,
        "x": 570,
        "y": 360,
        "wires": []
    },
    {
        "id": "ec93affb1a3aff0b",
        "type": "change",
        "z": "d970d99ab7b62ec8",
        "g": "4a596234a8f01e9a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "test.publish_subscribe_dynamic",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 430,
        "y": 460,
        "wires": [
            [
                "1af4ad6ba44486f5"
            ]
        ]
    },
    {
        "id": "adfad31ad674b7b2",
        "type": "status",
        "z": "d970d99ab7b62ec8",
        "g": "4a596234a8f01e9a",
        "name": "",
        "scope": [
            "1af4ad6ba44486f5"
        ],
        "x": 140,
        "y": 460,
        "wires": [
            [
                "75f251e4080920db"
            ]
        ]
    },
    {
        "id": "75f251e4080920db",
        "type": "switch",
        "z": "d970d99ab7b62ec8",
        "g": "4a596234a8f01e9a",
        "name": "",
        "property": "status.text",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "connected",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 290,
        "y": 460,
        "wires": [
            [
                "ec93affb1a3aff0b"
            ]
        ]
    },
    {
        "id": "b0d0e2adea986b04",
        "type": "inject",
        "z": "d970d99ab7b62ec8",
        "g": "a5513e20d799b3a3",
        "name": "1. Basic JSON",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "test.publish_subscribe_dynamic_queue",
        "payload": "{\"temperature\":23.5,\"humidity\":45}",
        "payloadType": "json",
        "x": 220,
        "y": 600,
        "wires": [
            [
                "3166bc35a3d33c24"
            ]
        ]
    },
    {
        "id": "a5826a62572813e9",
        "type": "nats-suite-subscribe",
        "z": "d970d99ab7b62ec8",
        "g": "a5513e20d799b3a3",
        "name": "",
        "server": "63f3bd466aaef063",
        "debug": false,
        "dataformat": "auto",
        "datapointid": "test.publish_subscribe",
        "subscriptionMode": "dynamic",
        "queueGroup": "test_queue",
        "x": 610,
        "y": 700,
        "wires": [
            [
                "485c27611beee4b2"
            ]
        ]
    },
    {
        "id": "485c27611beee4b2",
        "type": "debug",
        "z": "d970d99ab7b62ec8",
        "g": "a5513e20d799b3a3",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 780,
        "y": 700,
        "wires": []
    },
    {
        "id": "3166bc35a3d33c24",
        "type": "nats-suite-publish",
        "z": "d970d99ab7b62ec8",
        "g": "a5513e20d799b3a3",
        "name": "",
        "server": "63f3bd466aaef063",
        "debug": false,
        "enableBuffer": false,
        "mode": "publish",
        "bufferSize": 1000,
        "bufferSizeType": "count",
        "bufferSizeBytes": 10485760,
        "bufferMode": "drop-oldest",
        "bufferPersistence": "none",
        "bufferAutoSaveInterval": 30,
        "message": "",
        "dataformat": "json",
        "datapointid": "",
        "enableTopicOverride": true,
        "enableBatch": false,
        "batchSize": 100,
        "batchInterval": 1000,
        "batchMode": "hybrid",
        "requestTimeout": 5000,
        "requestFallbackToPublish": true,
        "enableAutoReply": false,
        "replyTimeout": 5000,
        "enableRateLimit": false,
        "rateLimit": 100,
        "rateLimitWindow": 1000,
        "rateLimitBurst": 20,
        "rateLimitAction": "drop",
        "enableHeaders": false,
        "headers": "",
        "enableMsgExpiration": false,
        "msgExpiration": 0,
        "outputs": 0,
        "x": 570,
        "y": 600,
        "wires": []
    },
    {
        "id": "1cbfeb8ce2bfed7c",
        "type": "change",
        "z": "d970d99ab7b62ec8",
        "g": "a5513e20d799b3a3",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "test.publish_subscribe_dynamic_queue",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 430,
        "y": 700,
        "wires": [
            [
                "a5826a62572813e9"
            ]
        ]
    },
    {
        "id": "750834eb20cc4c7f",
        "type": "status",
        "z": "d970d99ab7b62ec8",
        "g": "a5513e20d799b3a3",
        "name": "",
        "scope": [
            "a5826a62572813e9"
        ],
        "x": 140,
        "y": 700,
        "wires": [
            [
                "b947e610ed90c5ed"
            ]
        ]
    },
    {
        "id": "b947e610ed90c5ed",
        "type": "switch",
        "z": "d970d99ab7b62ec8",
        "g": "a5513e20d799b3a3",
        "name": "",
        "property": "status.text",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "connected",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 290,
        "y": 700,
        "wires": [
            [
                "1cbfeb8ce2bfed7c"
            ]
        ]
    },
    {
        "id": "5ced62895cbeaac7",
        "type": "nats-suite-subscribe",
        "z": "d970d99ab7b62ec8",
        "g": "a5513e20d799b3a3",
        "name": "",
        "server": "63f3bd466aaef063",
        "debug": false,
        "dataformat": "auto",
        "datapointid": "test.publish_subscribe",
        "subscriptionMode": "dynamic",
        "queueGroup": "test_queue",
        "x": 610,
        "y": 800,
        "wires": [
            [
                "ce73e73e40964a33"
            ]
        ]
    },
    {
        "id": "ce73e73e40964a33",
        "type": "debug",
        "z": "d970d99ab7b62ec8",
        "g": "a5513e20d799b3a3",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 780,
        "y": 800,
        "wires": []
    },
    {
        "id": "9c7f6ad3607d0eaf",
        "type": "change",
        "z": "d970d99ab7b62ec8",
        "g": "a5513e20d799b3a3",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "test.publish_subscribe_dynamic_queue",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 430,
        "y": 800,
        "wires": [
            [
                "5ced62895cbeaac7"
            ]
        ]
    },
    {
        "id": "cbc6ca7e702c9df2",
        "type": "status",
        "z": "d970d99ab7b62ec8",
        "g": "a5513e20d799b3a3",
        "name": "",
        "scope": [
            "5ced62895cbeaac7"
        ],
        "x": 140,
        "y": 800,
        "wires": [
            [
                "f2cceff68fc8b949"
            ]
        ]
    },
    {
        "id": "f2cceff68fc8b949",
        "type": "switch",
        "z": "d970d99ab7b62ec8",
        "g": "a5513e20d799b3a3",
        "name": "",
        "property": "status.text",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "connected",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 290,
        "y": 800,
        "wires": [
            [
                "9c7f6ad3607d0eaf"
            ]
        ]
    },
    {
        "id": "inject-headers",
        "type": "inject",
        "z": "headers-example",
        "name": "Send with Headers",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "headers",
                "v": "{\"X-User\":\"TestUser\",\"X-Request-ID\":\"12345\"}",
                "vt": "json"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"message\":\"Test with headers\"}",
        "payloadType": "json",
        "x": 140,
        "y": 100,
        "wires": [
            [
                "publish-headers"
            ]
        ]
    },
    {
        "id": "publish-headers",
        "type": "nats-suite-publish",
        "z": "headers-example",
        "name": "Publish with Headers",
        "server": "f299d3b622714522",
        "debug": true,
        "enableBuffer": false,
        "bufferSize": "",
        "bufferSizeBytes": "",
        "bufferMode": "drop-oldest",
        "bufferAutoSaveInterval": "",
        "dataformat": "json",
        "datapointid": "test.headers",
        "enableBatch": false,
        "batchSize": "",
        "batchInterval": "",
        "batchMode": "hybrid",
        "enableAutoReply": false,
        "replyTimeout": "",
        "enableRateLimit": false,
        "rateLimit": "",
        "rateLimitWindow": "",
        "rateLimitBurst": "",
        "enableHeaders": true,
        "headers": "{\"X-App\":\"Node-RED\",\"X-Version\":\"1.0\"}",
        "enableMsgExpiration": false,
        "msgExpiration": "",
        "outputs": 0,
        "x": 380,
        "y": 100,
        "wires": []
    },
    {
        "id": "subscribe-headers",
        "type": "nats-suite-subscribe",
        "z": "headers-example",
        "name": "Subscribe",
        "server": "f299d3b622714522",
        "dataformat": "auto",
        "datapointid": "",
        "subscriptionMode": "dynamic",
        "x": 360,
        "y": 220,
        "wires": [
            [
                "debug-headers"
            ]
        ]
    },
    {
        "id": "debug-headers",
        "type": "debug",
        "z": "headers-example",
        "name": "Check Headers",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 590,
        "y": 220,
        "wires": []
    },
    {
        "id": "comment-headers",
        "type": "comment",
        "z": "headers-example",
        "name": "✨ Neues Feature: Message Headers ✨",
        "info": "# Message Headers Test\n\n## Erwartet:\n- msg.headers.X-App: \"Node-RED\"\n- msg.headers.X-Version: \"1.0\"\n- msg.headers.X-User: \"TestUser\"\n- msg.headers.X-Request-ID: \"12345\"\n\n## Debug Log:\n- \"Publishing with headers: {...}\"",
        "x": 190,
        "y": 40,
        "wires": []
    },
    {
        "id": "0629794872e46bf7",
        "type": "inject",
        "z": "headers-example",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "test.headers",
        "x": 110,
        "y": 220,
        "wires": [
            [
                "subscribe-headers"
            ]
        ]
    },
    {
        "id": "247cfc25a19c5524",
        "type": "inject",
        "z": "headers-example",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "test.headers2",
        "x": 110,
        "y": 260,
        "wires": [
            [
                "subscribe-headers"
            ]
        ]
    },
    {
        "id": "05e0df2336c2c1ad",
        "type": "inject",
        "z": "7af22689f9d37b1b",
        "name": "1. Basic JSON",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "test.basic",
        "payload": "{\"temperature\":23.5,\"humidity\":45}",
        "payloadType": "json",
        "x": 140,
        "y": 60,
        "wires": [
            [
                "8bbc3f9c4b6dd6e2"
            ]
        ]
    },
    {
        "id": "8bbc3f9c4b6dd6e2",
        "type": "nats-suite-publish",
        "z": "7af22689f9d37b1b",
        "name": "Publish Basic",
        "server": "f299d3b622714522",
        "debug": false,
        "enableBuffer": false,
        "bufferSize": "",
        "bufferSizeBytes": "",
        "bufferMode": "drop-oldest",
        "bufferAutoSaveInterval": "",
        "dataformat": "json",
        "datapointid": "test.basic",
        "enableBatch": false,
        "batchSize": "",
        "batchInterval": "",
        "batchMode": "hybrid",
        "enableAutoReply": false,
        "replyTimeout": "",
        "enableRateLimit": false,
        "rateLimit": "",
        "rateLimitWindow": "",
        "rateLimitBurst": "",
        "enableHeaders": false,
        "headers": "",
        "enableMsgExpiration": false,
        "msgExpiration": "",
        "outputs": 0,
        "x": 500,
        "y": 60,
        "wires": []
    },
    {
        "id": "2369e962f57dfe33",
        "type": "inject",
        "z": "7af22689f9d37b1b",
        "name": "2. With Headers",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "headers",
                "v": "{\"X-User\":\"Admin\",\"X-Request-ID\":\"req-123\"}",
                "vt": "json"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "test.headers",
        "payload": "{\"message\":\"Test with headers\"}",
        "payloadType": "json",
        "x": 150,
        "y": 120,
        "wires": [
            [
                "2ec8bcc9fbf81eb1"
            ]
        ]
    },
    {
        "id": "2ec8bcc9fbf81eb1",
        "type": "nats-suite-publish",
        "z": "7af22689f9d37b1b",
        "name": "Publish Headers",
        "server": "f299d3b622714522",
        "debug": false,
        "enableBuffer": false,
        "bufferSize": "",
        "bufferSizeBytes": "",
        "bufferMode": "drop-oldest",
        "bufferAutoSaveInterval": "",
        "dataformat": "json",
        "datapointid": "test.headers",
        "enableBatch": false,
        "batchSize": "",
        "batchInterval": "",
        "batchMode": "hybrid",
        "enableAutoReply": false,
        "replyTimeout": "",
        "enableRateLimit": false,
        "rateLimit": "",
        "rateLimitWindow": "",
        "rateLimitBurst": "",
        "enableHeaders": true,
        "headers": "{\"X-App\":\"Node-RED\",\"X-Version\":\"1.0\"}",
        "enableMsgExpiration": false,
        "msgExpiration": "",
        "outputs": 0,
        "x": 500,
        "y": 120,
        "wires": []
    },
    {
        "id": "f58b4aa45694ce3c",
        "type": "inject",
        "z": "7af22689f9d37b1b",
        "name": "3. With Expiration",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "expiration",
                "v": "10",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "test.expiration",
        "payload": "This message expires",
        "payloadType": "str",
        "x": 160,
        "y": 180,
        "wires": [
            [
                "4896a36ec345567a"
            ]
        ]
    },
    {
        "id": "4896a36ec345567a",
        "type": "nats-suite-publish",
        "z": "7af22689f9d37b1b",
        "name": "Publish Expiration",
        "server": "f299d3b622714522",
        "debug": false,
        "enableBuffer": false,
        "bufferSize": "",
        "bufferSizeBytes": "",
        "bufferMode": "drop-oldest",
        "bufferAutoSaveInterval": "",
        "dataformat": "string",
        "datapointid": "test.expiration",
        "enableBatch": false,
        "batchSize": "",
        "batchInterval": "",
        "batchMode": "hybrid",
        "enableAutoReply": false,
        "replyTimeout": "",
        "enableRateLimit": false,
        "rateLimit": "",
        "rateLimitWindow": "",
        "rateLimitBurst": "",
        "enableHeaders": false,
        "headers": "",
        "enableMsgExpiration": true,
        "msgExpiration": 5,
        "outputs": 0,
        "x": 510,
        "y": 180,
        "wires": []
    },
    {
        "id": "4e322a146c88ba34",
        "type": "inject",
        "z": "7af22689f9d37b1b",
        "name": "4. Buffering (Count)",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "10",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "test.buffer",
        "payload": "{\"id\":\"{{$index}}\",\"data\":\"buffered\"}",
        "payloadType": "json",
        "x": 160,
        "y": 240,
        "wires": [
            [
                "8da79a8b54a4c12d"
            ]
        ]
    },
    {
        "id": "8da79a8b54a4c12d",
        "type": "nats-suite-publish",
        "z": "7af22689f9d37b1b",
        "name": "Publish Buffer (Count)",
        "server": "f299d3b622714522",
        "debug": false,
        "enableBuffer": true,
        "bufferSize": 100,
        "bufferSizeType": "count",
        "bufferSizeBytes": "",
        "bufferMode": "drop-oldest",
        "bufferPersistence": "context",
        "bufferAutoSaveInterval": 30,
        "dataformat": "json",
        "datapointid": "test.buffer",
        "enableBatch": false,
        "batchSize": "",
        "batchInterval": "",
        "batchMode": "hybrid",
        "enableAutoReply": false,
        "replyTimeout": "",
        "enableRateLimit": false,
        "rateLimit": "",
        "rateLimitWindow": "",
        "rateLimitBurst": "",
        "enableHeaders": false,
        "headers": "",
        "enableMsgExpiration": false,
        "msgExpiration": "",
        "outputs": 0,
        "x": 520,
        "y": 240,
        "wires": []
    },
    {
        "id": "b5acabb908b688c6",
        "type": "inject",
        "z": "7af22689f9d37b1b",
        "name": "5. Buffering (Bytes)",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"large\":\"data\"}",
        "payloadType": "json",
        "x": 170,
        "y": 300,
        "wires": [
            [
                "ad2f89503c9a170f"
            ]
        ]
    },
    {
        "id": "ad2f89503c9a170f",
        "type": "nats-suite-publish",
        "z": "7af22689f9d37b1b",
        "name": "Publish Buffer (Bytes)",
        "server": "f299d3b622714522",
        "debug": true,
        "enableBuffer": true,
        "bufferSize": 1000,
        "bufferSizeType": "count",
        "bufferSizeBytes": 1048576,
        "bufferMode": "drop-newest",
        "bufferPersistence": "file",
        "bufferAutoSaveInterval": 60,
        "dataformat": "json",
        "datapointid": "test.buffer.bytes",
        "enableBatch": false,
        "batchSize": "",
        "batchInterval": "",
        "batchMode": "hybrid",
        "enableAutoReply": false,
        "replyTimeout": "",
        "enableRateLimit": false,
        "rateLimit": "",
        "rateLimitWindow": "",
        "rateLimitBurst": "",
        "enableHeaders": false,
        "headers": "",
        "enableMsgExpiration": false,
        "msgExpiration": "",
        "outputs": 0,
        "x": 520,
        "y": 300,
        "wires": []
    },
    {
        "id": "ba608afc20f5fb70",
        "type": "inject",
        "z": "7af22689f9d37b1b",
        "name": "6. Batch Processing",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"batch\":\"item\",\"index\":\"{{$index}}\"}",
        "payloadType": "json",
        "x": 150,
        "y": 360,
        "wires": [
            [
                "dde499556e599556"
            ]
        ]
    },
    {
        "id": "dde499556e599556",
        "type": "nats-suite-publish",
        "z": "7af22689f9d37b1b",
        "name": "Publish Batch",
        "server": "f299d3b622714522",
        "debug": false,
        "enableBuffer": false,
        "bufferSize": "",
        "bufferSizeBytes": "",
        "bufferMode": "drop-oldest",
        "bufferAutoSaveInterval": "",
        "dataformat": "json",
        "datapointid": "test.batch",
        "enableBatch": true,
        "batchSize": 10,
        "batchInterval": "10000",
        "batchMode": "hybrid",
        "enableAutoReply": false,
        "replyTimeout": "",
        "enableRateLimit": false,
        "rateLimit": "",
        "rateLimitWindow": "",
        "rateLimitBurst": "",
        "enableHeaders": false,
        "headers": "",
        "enableMsgExpiration": false,
        "msgExpiration": "",
        "outputs": 0,
        "x": 500,
        "y": 360,
        "wires": []
    },
    {
        "id": "cf1ea7f80f893a51",
        "type": "inject",
        "z": "7af22689f9d37b1b",
        "name": "7. Rate Limiting",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "100",
        "crontab": "",
        "once": false,
        "onceDelay": 0.01,
        "topic": "test.ratelimit",
        "payload": "{\"msg\":\"rate limited\",\"index\":\"{{$index}}\"}",
        "payloadType": "json",
        "x": 160,
        "y": 420,
        "wires": [
            [
                "c1a74946a5d68294"
            ]
        ]
    },
    {
        "id": "c1a74946a5d68294",
        "type": "nats-suite-publish",
        "z": "7af22689f9d37b1b",
        "name": "Publish Rate Limit",
        "server": "f299d3b622714522",
        "debug": false,
        "enableBuffer": false,
        "bufferSize": "",
        "bufferSizeBytes": "",
        "bufferMode": "drop-oldest",
        "bufferAutoSaveInterval": "",
        "dataformat": "json",
        "datapointid": "test.ratelimit",
        "enableBatch": false,
        "batchSize": "",
        "batchInterval": "",
        "batchMode": "hybrid",
        "enableAutoReply": false,
        "replyTimeout": "",
        "enableRateLimit": true,
        "rateLimit": 10,
        "rateLimitWindow": 1000,
        "rateLimitBurst": 5,
        "rateLimitAction": "drop",
        "enableHeaders": false,
        "headers": "",
        "enableMsgExpiration": false,
        "msgExpiration": "",
        "outputs": 0,
        "x": 510,
        "y": 420,
        "wires": []
    },
    {
        "id": "50686c82457fa12b",
        "type": "inject",
        "z": "7af22689f9d37b1b",
        "name": "8. String Format",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "test.string",
        "payload": "Simple string message",
        "payloadType": "str",
        "x": 150,
        "y": 480,
        "wires": [
            [
                "a586c0af1b31fd15"
            ]
        ]
    },
    {
        "id": "a586c0af1b31fd15",
        "type": "nats-suite-publish",
        "z": "7af22689f9d37b1b",
        "name": "Publish String",
        "server": "f299d3b622714522",
        "debug": false,
        "enableBuffer": false,
        "bufferSize": "",
        "bufferSizeBytes": "",
        "bufferMode": "drop-oldest",
        "bufferAutoSaveInterval": "",
        "dataformat": "string",
        "datapointid": "test.string",
        "enableBatch": false,
        "batchSize": "",
        "batchInterval": "",
        "batchMode": "hybrid",
        "enableAutoReply": false,
        "replyTimeout": "",
        "enableRateLimit": false,
        "rateLimit": "",
        "rateLimitWindow": "",
        "rateLimitBurst": "",
        "enableHeaders": false,
        "headers": "",
        "enableMsgExpiration": false,
        "msgExpiration": "",
        "outputs": 0,
        "x": 500,
        "y": 480,
        "wires": []
    },
    {
        "id": "7c6994af4cce8fc9",
        "type": "inject",
        "z": "7af22689f9d37b1b",
        "name": "9. Reply Format",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"response\":\"Reply message\"}",
        "payloadType": "json",
        "x": 140,
        "y": 540,
        "wires": [
            [
                "81837df43f23dcae"
            ]
        ]
    },
    {
        "id": "81837df43f23dcae",
        "type": "nats-suite-publish",
        "z": "7af22689f9d37b1b",
        "name": "Publish Reply",
        "server": "f299d3b622714522",
        "debug": false,
        "enableBuffer": false,
        "bufferSize": "",
        "bufferSizeBytes": "",
        "bufferMode": "drop-oldest",
        "bufferAutoSaveInterval": "",
        "dataformat": "reply",
        "datapointid": "",
        "enableBatch": false,
        "batchSize": "",
        "batchInterval": "",
        "batchMode": "hybrid",
        "enableAutoReply": false,
        "replyTimeout": "",
        "enableRateLimit": false,
        "rateLimit": "",
        "rateLimitWindow": "",
        "rateLimitBurst": "",
        "enableHeaders": false,
        "headers": "",
        "enableMsgExpiration": false,
        "msgExpiration": "",
        "outputs": 0,
        "x": 500,
        "y": 540,
        "wires": []
    },
    {
        "id": "580d422590d643b5",
        "type": "function",
        "z": "fdf4576e5737a4e2",
        "name": "Service Handler",
        "func": "// Service Handler - Verarbeitet die Anfrage\n// und bereitet die Antwort vor\n\n// Bei NATS request() wird das Reply-Subject automatisch\n// als msg.reply gesetzt (vom Subscribe-Node als msg._reply weitergegeben)\n// Alternativ kann es auch im Payload sein (für manuellen Pub/Sub Ansatz)\nconst replyTo = msg._reply || msg._unsreply || msg.payload.replyTo;\n\nif (!replyTo) {\n    node.warn('Keine replyTo-Adresse gefunden!');\n    node.warn('Verfügbare Felder: _reply=' + msg._reply + ', _unsreply=' + msg._unsreply + ', payload.replyTo=' + (msg.payload.replyTo || 'nicht vorhanden'));\n    node.warn('Empfangener Payload: ' + JSON.stringify(msg.payload));\n    return null;\n}\n\n// Verarbeite die Anfrage (Beispiel: Echo mit Timestamp)\nconst request = msg.payload;\nconst response = {\n    success: true,\n    originalRequest: request,\n    processedAt: new Date().toISOString(),\n    service: 'demo-service',\n    message: 'Anfrage erfolgreich verarbeitet!'\n};\n\n// WICHTIG: Bei Reply-Mode wird msg._reply verwendet, nicht msg.topic!\n// Der Reply-Node liest msg._reply automatisch\nmsg._reply = replyTo;\nmsg._unsreply = replyTo;\nmsg.payload = response;\n\nnode.status({fill:'green', shape:'dot', text:'Reply an: ' + replyTo});\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 180,
        "wires": [
            [
                "9a611ff152522e5f"
            ]
        ]
    },
    {
        "id": "9a611ff152522e5f",
        "type": "nats-suite-publish",
        "z": "fdf4576e5737a4e2",
        "name": "Publish Response",
        "server": "f299d3b622714522",
        "debug": true,
        "enableBuffer": false,
        "mode": "reply",
        "bufferSize": "",
        "bufferSizeBytes": "",
        "bufferMode": "drop-oldest",
        "bufferAutoSaveInterval": "",
        "dataformat": "json",
        "datapointid": "",
        "enableTopicOverride": false,
        "enableBatch": false,
        "batchSize": "",
        "batchInterval": "",
        "batchMode": "hybrid",
        "requestTimeout": "",
        "requestFallbackToPublish": false,
        "enableAutoReply": false,
        "replyTimeout": "",
        "enableRateLimit": false,
        "rateLimit": "",
        "rateLimitWindow": "",
        "rateLimitBurst": "",
        "enableHeaders": false,
        "headers": "",
        "enableMsgExpiration": false,
        "msgExpiration": "",
        "outputs": 0,
        "x": 1050,
        "y": 180,
        "wires": []
    },
    {
        "id": "3c59f4ff4fa5a610",
        "type": "debug",
        "z": "fdf4576e5737a4e2",
        "name": "Response erhalten",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 890,
        "y": 100,
        "wires": []
    },
    {
        "id": "8d9d84c5ed6d5a6b",
        "type": "inject",
        "z": "fdf4576e5737a4e2",
        "name": "Request senden",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "demo.service.request",
        "payload": "{\"action\":\"greet\",\"name\":\"Node-RED\",\"timestamp\":\"${new Date().toISOString()}\"}",
        "payloadType": "json",
        "x": 160,
        "y": 100,
        "wires": [
            [
                "866c54cd833f8501"
            ]
        ]
    },
    {
        "id": "866c54cd833f8501",
        "type": "function",
        "z": "fdf4576e5737a4e2",
        "name": "Prepare Request",
        "func": "msg.payload = {\n    action: 'greet',\n    name: 'Node-RED',\n    timestamp: new Date().toISOString(),\n    requestId: Math.random().toString(36).substring(7)\n};\n\nnode.status({fill:'blue', shape:'dot', text:'Request vorbereitet'});\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 100,
        "wires": [
            [
                "a45941326f11e5e1"
            ]
        ]
    },
    {
        "id": "ee6edbb4145d3ee3",
        "type": "comment",
        "z": "fdf4576e5737a4e2",
        "name": "Request",
        "info": "",
        "x": 100,
        "y": 40,
        "wires": []
    },
    {
        "id": "a45941326f11e5e1",
        "type": "nats-suite-publish",
        "z": "fdf4576e5737a4e2",
        "name": "",
        "server": "f299d3b622714522",
        "debug": true,
        "enableBuffer": false,
        "mode": "request",
        "bufferSize": 1000,
        "bufferSizeType": "count",
        "bufferSizeBytes": 10485760,
        "bufferMode": "drop-oldest",
        "bufferPersistence": "none",
        "bufferAutoSaveInterval": 30,
        "message": "",
        "dataformat": "json",
        "datapointid": "demo.service.request",
        "enableTopicOverride": false,
        "enableBatch": false,
        "batchSize": 100,
        "batchInterval": 1000,
        "batchMode": "hybrid",
        "requestTimeout": 5000,
        "requestFallbackToPublish": false,
        "enableAutoReply": false,
        "replyTimeout": 5000,
        "enableRateLimit": false,
        "rateLimit": 100,
        "rateLimitWindow": 1000,
        "rateLimitBurst": 20,
        "rateLimitAction": "drop",
        "enableHeaders": true,
        "headers": "{\"message\":\"test\"}",
        "enableMsgExpiration": false,
        "msgExpiration": 0,
        "outputs": 1,
        "x": 650,
        "y": 100,
        "wires": [
            [
                "3c59f4ff4fa5a610"
            ]
        ]
    },
    {
        "id": "ab9f3ca241d4132e",
        "type": "debug",
        "z": "fdf4576e5737a4e2",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 380,
        "y": 240,
        "wires": []
    },
    {
        "id": "1773ce4335dcc303",
        "type": "nats-suite-subscribe",
        "z": "fdf4576e5737a4e2",
        "name": "",
        "server": "f299d3b622714522",
        "debug": true,
        "dataformat": "auto",
        "datapointid": "demo.service.request",
        "subscriptionMode": "static",
        "x": 170,
        "y": 180,
        "wires": [
            [
                "580d422590d643b5",
                "ab9f3ca241d4132e"
            ]
        ]
    },
    {
        "id": "cd0bb54353fedd09",
        "type": "nats-suite-server-manager",
        "z": "324298df8d0fb52b",
        "name": "",
        "serverType": "embedded",
        "port": "4223",
        "leafPort": 7422,
        "enableJetStream": true,
        "storeDir": "",
        "leafRemoteUrl": "",
        "leafRemoteUser": "",
        "leafRemotePass": "",
        "autoStart": true,
        "debug": true,
        "serverName": "",
        "maxConnections": "",
        "maxPayload": "",
        "maxSubscriptions": "",
        "maxControlLine": "",
        "writeDeadline": "",
        "httpPort": "",
        "httpsPort": "",
        "enableTrace": false,
        "enableDebugLog": false,
        "noLog": false,
        "logFile": "",
        "pidFile": "",
        "maxMemoryStore": "",
        "syncInterval": "",
        "hostAddr": "",
        "clientAdvertise": "",
        "noAdvertise": false,
        "connectRetries": "",
        "enableLeafNodeMode": false,
        "x": 180,
        "y": 100,
        "wires": [
            [
                "6815de3640179f8b"
            ]
        ]
    },
    {
        "id": "6815de3640179f8b",
        "type": "debug",
        "z": "324298df8d0fb52b",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 100,
        "wires": []
    },
    {
        "id": "2304974aee6e0f9a",
        "type": "nats-suite-kv-get",
        "z": "f28cb49418cb6492",
        "name": "",
        "server": "f299d3b622714522",
        "bucket": "",
        "bucketConfig": "",
        "description": "",
        "history": 10,
        "maxAge": 0,
        "maxBytes": 0,
        "maxValueSize": 0,
        "compression": false,
        "replicas": 1,
        "storage": "file",
        "mode": "get",
        "key": "",
        "keyFrom": "config",
        "watchPattern": "",
        "includeHistory": false,
        "ignoreDeletes": true,
        "parseJSON": true,
        "debug": false,
        "x": 560,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "e35179027a37ec09",
        "type": "nats-suite-kv-put",
        "z": "f28cb49418cb6492",
        "name": "",
        "server": "f299d3b622714522",
        "bucket": "",
        "bucketConfig": "",
        "description": "",
        "history": 10,
        "maxAge": 0,
        "maxBytes": 0,
        "maxValueSize": 0,
        "compression": false,
        "replicas": 1,
        "storage": "file",
        "operation": "put",
        "bucketOperation": "put",
        "key": "",
        "keyFrom": "config",
        "value": "",
        "valueFrom": "payload",
        "stringifyJSON": true,
        "debug": false,
        "x": 560,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "1e90d1b99da50488",
        "type": "nats-suite-stream-publisher",
        "z": "9e93672bca22fbc8",
        "name": "",
        "server": "f299d3b622714522",
        "streamName": "default-stream",
        "subjectPattern": "*",
        "defaultSubject": "",
        "retention": "limits",
        "maxMessages": 10000,
        "maxAge": "24h",
        "maxBytes": 10485760,
        "duplicateWindow": "2m",
        "storage": "file",
        "replicas": 1,
        "operation": "publish",
        "x": 360,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "db34ce937fe4c4dc",
        "type": "nats-suite-stream-consumer",
        "z": "9e93672bca22fbc8",
        "name": "",
        "server": "f299d3b622714522",
        "streamName": "default-stream",
        "consumerName": "default-consumer",
        "filterSubject": "",
        "consumerType": "pull",
        "ackPolicy": "explicit",
        "deliverPolicy": "new",
        "ackWait": "30s",
        "maxDeliver": 5,
        "maxAckPending": 1000,
        "idleHeartbeat": "5s",
        "flowControl": false,
        "batchSize": 1,
        "maxWait": 1000,
        "operation": "consume",
        "x": 370,
        "y": 340,
        "wires": [
            []
        ]
    }
]