node-red/flows.json
[
    {
        "id": "d970d99ab7b62ec8",
        "type": "tab",
        "label": "Publish / Subscribe",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "headers-example",
        "type": "tab",
        "label": "01 - Message Headers Test",
        "disabled": false,
        "info": "Test for Message Headers feature\n\n1. Deploy the flow\n2. Click the inject node\n3. Check debug output: headers should be present"
    },
    {
        "id": "7af22689f9d37b1b",
        "type": "tab",
        "label": "Publish Node - All Features",
        "disabled": false,
        "info": "Comprehensive examples for nats-suite-publish node\n\nFeatures demonstrated:\n- Basic publish (JSON, String, Buffer)\n- Message Headers (static + dynamic)\n- Message Expiration (TTL)\n- Buffering (count + bytes, persistence)\n- Batch Processing\n- Rate Limiting\n- Auto-Reply Handler"
    },
    {
        "id": "fdf4576e5737a4e2",
        "type": "tab",
        "label": "Request-Reply (Pub/Sub)",
        "disabled": false,
        "info": "Request-Reply Pattern mit Publish/Subscribe\n\nDieser Flow demonstriert, wie man Request-Reply\nmit einfachen Publish und Subscribe Nodes aufbaut,\nohne nats-suite-request oder nats-suite-reply zu verwenden.\n\nPrinzip:\n1. Requester published mit eigenem Reply-Subject\n2. Service subscribed, verarbeitet und published Antwort\n3. Requester subscribed auf Reply-Subject für Antwort"
    },
    {
        "id": "56fda4fe68183684",
        "type": "tab",
        "label": "Nats Service",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "324298df8d0fb52b",
        "type": "tab",
        "label": "Server Manager",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f28cb49418cb6492",
        "type": "tab",
        "label": "Key / Value",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "9e93672bca22fbc8",
        "type": "tab",
        "label": "Steam",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "59fa03450d156788",
        "type": "tab",
        "label": "Object",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f299d3b622714522",
        "type": "nats-suite-server",
        "server": "nats://nats-server:4222",
        "authMethod": "none",
        "enableTLS": false,
        "tlsRejectUnauthorized": true,
        "tlsCaFile": "",
        "tlsCertFile": "",
        "tlsKeyFile": "",
        "maxReconnectAttempts": 10,
        "reconnectTimeWait": 1000,
        "timeout": 10000,
        "pingInterval": 30000,
        "maxPingOut": 3,
        "debug": false
    },
    {
        "id": "63f3bd466aaef063",
        "type": "nats-suite-server",
        "server": "nats://localhost:4223",
        "authMethod": "none",
        "enableTLS": false,
        "tlsRejectUnauthorized": true,
        "tlsCaFile": "",
        "tlsCertFile": "",
        "tlsKeyFile": "",
        "maxReconnectAttempts": "",
        "reconnectTimeWait": "",
        "timeout": "",
        "pingInterval": "",
        "maxPingOut": "",
        "debug": true
    },
    {
        "id": "443684332dd71c8b",
        "type": "nats-suite-publish",
        "z": "d970d99ab7b62ec8",
        "name": "",
        "server": "63f3bd466aaef063",
        "debug": false,
        "enableBuffer": false,
        "bufferSize": 1000,
        "bufferSizeType": "count",
        "bufferSizeBytes": 10485760,
        "bufferMode": "drop-oldest",
        "bufferPersistence": "none",
        "bufferAutoSaveInterval": 30,
        "message": "",
        "dataformat": "json",
        "datapointid": "test",
        "enableBatch": false,
        "batchSize": 100,
        "batchInterval": 1000,
        "batchMode": "hybrid",
        "enableAutoReply": false,
        "replyTimeout": 5000,
        "enableRateLimit": false,
        "rateLimit": 100,
        "rateLimitWindow": 1000,
        "rateLimitBurst": 20,
        "rateLimitAction": "drop",
        "enableHeaders": false,
        "headers": "",
        "enableMsgExpiration": false,
        "msgExpiration": 0,
        "x": 530,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "04aeed2b87e4e013",
        "type": "inject",
        "z": "d970d99ab7b62ec8",
        "name": "1. Basic JSON",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "test.basic",
        "payload": "{\"temperature\":23.5,\"humidity\":45}",
        "payloadType": "json",
        "x": 320,
        "y": 260,
        "wires": [
            [
                "443684332dd71c8b"
            ]
        ]
    },
    {
        "id": "78874a82ba1e7509",
        "type": "nats-suite-subscribe",
        "z": "d970d99ab7b62ec8",
        "name": "",
        "server": "63f3bd466aaef063",
        "dataformat": "auto",
        "datapointid": "test",
        "topicfield": "subject",
        "subscriptionMode": "static",
        "x": 280,
        "y": 360,
        "wires": [
            [
                "060c7560e4168a96"
            ]
        ]
    },
    {
        "id": "060c7560e4168a96",
        "type": "debug",
        "z": "d970d99ab7b62ec8",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 360,
        "wires": []
    },
    {
        "id": "inject-headers",
        "type": "inject",
        "z": "headers-example",
        "name": "Send with Headers",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "headers",
                "v": "{\"X-User\":\"TestUser\",\"X-Request-ID\":\"12345\"}",
                "vt": "json"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"message\":\"Test with headers\"}",
        "payloadType": "json",
        "x": 140,
        "y": 100,
        "wires": [
            [
                "publish-headers"
            ]
        ]
    },
    {
        "id": "publish-headers",
        "type": "nats-suite-publish",
        "z": "headers-example",
        "name": "Publish with Headers",
        "server": "f299d3b622714522",
        "debug": true,
        "enableBuffer": false,
        "bufferSize": "",
        "bufferSizeBytes": "",
        "bufferMode": "drop-oldest",
        "bufferAutoSaveInterval": "",
        "dataformat": "json",
        "datapointid": "test.headers",
        "enableBatch": false,
        "batchSize": "",
        "batchInterval": "",
        "batchMode": "hybrid",
        "enableAutoReply": false,
        "replyTimeout": "",
        "enableRateLimit": false,
        "rateLimit": "",
        "rateLimitWindow": "",
        "rateLimitBurst": "",
        "enableHeaders": true,
        "headers": "{\"X-App\":\"Node-RED\",\"X-Version\":\"1.0\"}",
        "enableMsgExpiration": false,
        "msgExpiration": "",
        "x": 380,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "subscribe-headers",
        "type": "nats-suite-subscribe",
        "z": "headers-example",
        "name": "Subscribe",
        "server": "f299d3b622714522",
        "dataformat": "auto",
        "datapointid": "",
        "topicfield": "subject",
        "subscriptionMode": "dynamic",
        "x": 360,
        "y": 220,
        "wires": [
            [
                "debug-headers"
            ]
        ]
    },
    {
        "id": "debug-headers",
        "type": "debug",
        "z": "headers-example",
        "name": "Check Headers",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 590,
        "y": 220,
        "wires": []
    },
    {
        "id": "comment-headers",
        "type": "comment",
        "z": "headers-example",
        "name": "✨ Neues Feature: Message Headers ✨",
        "info": "# Message Headers Test\n\n## Erwartet:\n- msg.headers.X-App: \"Node-RED\"\n- msg.headers.X-Version: \"1.0\"\n- msg.headers.X-User: \"TestUser\"\n- msg.headers.X-Request-ID: \"12345\"\n\n## Debug Log:\n- \"Publishing with headers: {...}\"",
        "x": 190,
        "y": 40,
        "wires": []
    },
    {
        "id": "0629794872e46bf7",
        "type": "inject",
        "z": "headers-example",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "test.headers",
        "x": 110,
        "y": 220,
        "wires": [
            [
                "subscribe-headers"
            ]
        ]
    },
    {
        "id": "247cfc25a19c5524",
        "type": "inject",
        "z": "headers-example",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "test.headers2",
        "x": 110,
        "y": 260,
        "wires": [
            [
                "subscribe-headers"
            ]
        ]
    },
    {
        "id": "05e0df2336c2c1ad",
        "type": "inject",
        "z": "7af22689f9d37b1b",
        "name": "1. Basic JSON",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "test.basic",
        "payload": "{\"temperature\":23.5,\"humidity\":45}",
        "payloadType": "json",
        "x": 140,
        "y": 60,
        "wires": [
            [
                "8bbc3f9c4b6dd6e2"
            ]
        ]
    },
    {
        "id": "8bbc3f9c4b6dd6e2",
        "type": "nats-suite-publish",
        "z": "7af22689f9d37b1b",
        "name": "Publish Basic",
        "server": "f299d3b622714522",
        "debug": false,
        "enableBuffer": false,
        "bufferSize": "",
        "bufferSizeBytes": "",
        "bufferMode": "drop-oldest",
        "bufferAutoSaveInterval": "",
        "dataformat": "json",
        "datapointid": "test.basic",
        "enableBatch": false,
        "batchSize": "",
        "batchInterval": "",
        "batchMode": "hybrid",
        "enableAutoReply": false,
        "replyTimeout": "",
        "enableRateLimit": false,
        "rateLimit": "",
        "rateLimitWindow": "",
        "rateLimitBurst": "",
        "enableHeaders": false,
        "headers": "",
        "enableMsgExpiration": false,
        "msgExpiration": "",
        "x": 500,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "2369e962f57dfe33",
        "type": "inject",
        "z": "7af22689f9d37b1b",
        "name": "2. With Headers",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "headers",
                "v": "{\"X-User\":\"Admin\",\"X-Request-ID\":\"req-123\"}",
                "vt": "json"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "test.headers",
        "payload": "{\"message\":\"Test with headers\"}",
        "payloadType": "json",
        "x": 150,
        "y": 120,
        "wires": [
            [
                "2ec8bcc9fbf81eb1"
            ]
        ]
    },
    {
        "id": "2ec8bcc9fbf81eb1",
        "type": "nats-suite-publish",
        "z": "7af22689f9d37b1b",
        "name": "Publish Headers",
        "server": "f299d3b622714522",
        "debug": false,
        "enableBuffer": false,
        "bufferSize": "",
        "bufferSizeBytes": "",
        "bufferMode": "drop-oldest",
        "bufferAutoSaveInterval": "",
        "dataformat": "json",
        "datapointid": "test.headers",
        "enableBatch": false,
        "batchSize": "",
        "batchInterval": "",
        "batchMode": "hybrid",
        "enableAutoReply": false,
        "replyTimeout": "",
        "enableRateLimit": false,
        "rateLimit": "",
        "rateLimitWindow": "",
        "rateLimitBurst": "",
        "enableHeaders": true,
        "headers": "{\"X-App\":\"Node-RED\",\"X-Version\":\"1.0\"}",
        "enableMsgExpiration": false,
        "msgExpiration": "",
        "x": 500,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "f58b4aa45694ce3c",
        "type": "inject",
        "z": "7af22689f9d37b1b",
        "name": "3. With Expiration",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "expiration",
                "v": "10",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "test.expiration",
        "payload": "This message expires",
        "payloadType": "str",
        "x": 160,
        "y": 180,
        "wires": [
            [
                "4896a36ec345567a"
            ]
        ]
    },
    {
        "id": "4896a36ec345567a",
        "type": "nats-suite-publish",
        "z": "7af22689f9d37b1b",
        "name": "Publish Expiration",
        "server": "f299d3b622714522",
        "debug": false,
        "enableBuffer": false,
        "bufferSize": "",
        "bufferSizeBytes": "",
        "bufferMode": "drop-oldest",
        "bufferAutoSaveInterval": "",
        "dataformat": "string",
        "datapointid": "test.expiration",
        "enableBatch": false,
        "batchSize": "",
        "batchInterval": "",
        "batchMode": "hybrid",
        "enableAutoReply": false,
        "replyTimeout": "",
        "enableRateLimit": false,
        "rateLimit": "",
        "rateLimitWindow": "",
        "rateLimitBurst": "",
        "enableHeaders": false,
        "headers": "",
        "enableMsgExpiration": true,
        "msgExpiration": 5,
        "x": 510,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "4e322a146c88ba34",
        "type": "inject",
        "z": "7af22689f9d37b1b",
        "name": "4. Buffering (Count)",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "10",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "test.buffer",
        "payload": "{\"id\":\"{{$index}}\",\"data\":\"buffered\"}",
        "payloadType": "json",
        "x": 160,
        "y": 240,
        "wires": [
            [
                "8da79a8b54a4c12d"
            ]
        ]
    },
    {
        "id": "8da79a8b54a4c12d",
        "type": "nats-suite-publish",
        "z": "7af22689f9d37b1b",
        "name": "Publish Buffer (Count)",
        "server": "f299d3b622714522",
        "debug": false,
        "enableBuffer": true,
        "bufferSize": 100,
        "bufferSizeType": "count",
        "bufferSizeBytes": "",
        "bufferMode": "drop-oldest",
        "bufferPersistence": "context",
        "bufferAutoSaveInterval": 30,
        "dataformat": "json",
        "datapointid": "test.buffer",
        "enableBatch": false,
        "batchSize": "",
        "batchInterval": "",
        "batchMode": "hybrid",
        "enableAutoReply": false,
        "replyTimeout": "",
        "enableRateLimit": false,
        "rateLimit": "",
        "rateLimitWindow": "",
        "rateLimitBurst": "",
        "enableHeaders": false,
        "headers": "",
        "enableMsgExpiration": false,
        "msgExpiration": "",
        "x": 520,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "b5acabb908b688c6",
        "type": "inject",
        "z": "7af22689f9d37b1b",
        "name": "5. Buffering (Bytes)",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"large\":\"data\"}",
        "payloadType": "json",
        "x": 170,
        "y": 300,
        "wires": [
            [
                "ad2f89503c9a170f"
            ]
        ]
    },
    {
        "id": "ad2f89503c9a170f",
        "type": "nats-suite-publish",
        "z": "7af22689f9d37b1b",
        "name": "Publish Buffer (Bytes)",
        "server": "f299d3b622714522",
        "debug": true,
        "enableBuffer": true,
        "bufferSize": 1000,
        "bufferSizeType": "count",
        "bufferSizeBytes": 1048576,
        "bufferMode": "drop-newest",
        "bufferPersistence": "file",
        "bufferAutoSaveInterval": 60,
        "dataformat": "json",
        "datapointid": "test.buffer.bytes",
        "enableBatch": false,
        "batchSize": "",
        "batchInterval": "",
        "batchMode": "hybrid",
        "enableAutoReply": false,
        "replyTimeout": "",
        "enableRateLimit": false,
        "rateLimit": "",
        "rateLimitWindow": "",
        "rateLimitBurst": "",
        "enableHeaders": false,
        "headers": "",
        "enableMsgExpiration": false,
        "msgExpiration": "",
        "x": 520,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "ba608afc20f5fb70",
        "type": "inject",
        "z": "7af22689f9d37b1b",
        "name": "6. Batch Processing",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"batch\":\"item\",\"index\":\"{{$index}}\"}",
        "payloadType": "json",
        "x": 150,
        "y": 360,
        "wires": [
            [
                "dde499556e599556"
            ]
        ]
    },
    {
        "id": "dde499556e599556",
        "type": "nats-suite-publish",
        "z": "7af22689f9d37b1b",
        "name": "Publish Batch",
        "server": "f299d3b622714522",
        "debug": false,
        "enableBuffer": false,
        "bufferSize": "",
        "bufferSizeBytes": "",
        "bufferMode": "drop-oldest",
        "bufferAutoSaveInterval": "",
        "dataformat": "json",
        "datapointid": "test.batch",
        "enableBatch": true,
        "batchSize": 10,
        "batchInterval": "10000",
        "batchMode": "hybrid",
        "enableAutoReply": false,
        "replyTimeout": "",
        "enableRateLimit": false,
        "rateLimit": "",
        "rateLimitWindow": "",
        "rateLimitBurst": "",
        "enableHeaders": false,
        "headers": "",
        "enableMsgExpiration": false,
        "msgExpiration": "",
        "x": 500,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "cf1ea7f80f893a51",
        "type": "inject",
        "z": "7af22689f9d37b1b",
        "name": "7. Rate Limiting",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "100",
        "crontab": "",
        "once": false,
        "onceDelay": 0.01,
        "topic": "test.ratelimit",
        "payload": "{\"msg\":\"rate limited\",\"index\":\"{{$index}}\"}",
        "payloadType": "json",
        "x": 160,
        "y": 420,
        "wires": [
            [
                "c1a74946a5d68294"
            ]
        ]
    },
    {
        "id": "c1a74946a5d68294",
        "type": "nats-suite-publish",
        "z": "7af22689f9d37b1b",
        "name": "Publish Rate Limit",
        "server": "f299d3b622714522",
        "debug": false,
        "enableBuffer": false,
        "bufferSize": "",
        "bufferSizeBytes": "",
        "bufferMode": "drop-oldest",
        "bufferAutoSaveInterval": "",
        "dataformat": "json",
        "datapointid": "test.ratelimit",
        "enableBatch": false,
        "batchSize": "",
        "batchInterval": "",
        "batchMode": "hybrid",
        "enableAutoReply": false,
        "replyTimeout": "",
        "enableRateLimit": true,
        "rateLimit": 10,
        "rateLimitWindow": 1000,
        "rateLimitBurst": 5,
        "rateLimitAction": "drop",
        "enableHeaders": false,
        "headers": "",
        "enableMsgExpiration": false,
        "msgExpiration": "",
        "x": 510,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "50686c82457fa12b",
        "type": "inject",
        "z": "7af22689f9d37b1b",
        "name": "8. String Format",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "test.string",
        "payload": "Simple string message",
        "payloadType": "str",
        "x": 150,
        "y": 480,
        "wires": [
            [
                "a586c0af1b31fd15"
            ]
        ]
    },
    {
        "id": "a586c0af1b31fd15",
        "type": "nats-suite-publish",
        "z": "7af22689f9d37b1b",
        "name": "Publish String",
        "server": "f299d3b622714522",
        "debug": false,
        "enableBuffer": false,
        "bufferSize": "",
        "bufferSizeBytes": "",
        "bufferMode": "drop-oldest",
        "bufferAutoSaveInterval": "",
        "dataformat": "string",
        "datapointid": "test.string",
        "enableBatch": false,
        "batchSize": "",
        "batchInterval": "",
        "batchMode": "hybrid",
        "enableAutoReply": false,
        "replyTimeout": "",
        "enableRateLimit": false,
        "rateLimit": "",
        "rateLimitWindow": "",
        "rateLimitBurst": "",
        "enableHeaders": false,
        "headers": "",
        "enableMsgExpiration": false,
        "msgExpiration": "",
        "x": 500,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "7c6994af4cce8fc9",
        "type": "inject",
        "z": "7af22689f9d37b1b",
        "name": "9. Reply Format",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"response\":\"Reply message\"}",
        "payloadType": "json",
        "x": 140,
        "y": 540,
        "wires": [
            [
                "81837df43f23dcae"
            ]
        ]
    },
    {
        "id": "81837df43f23dcae",
        "type": "nats-suite-publish",
        "z": "7af22689f9d37b1b",
        "name": "Publish Reply",
        "server": "f299d3b622714522",
        "debug": false,
        "enableBuffer": false,
        "bufferSize": "",
        "bufferSizeBytes": "",
        "bufferMode": "drop-oldest",
        "bufferAutoSaveInterval": "",
        "dataformat": "reply",
        "datapointid": "",
        "enableBatch": false,
        "batchSize": "",
        "batchInterval": "",
        "batchMode": "hybrid",
        "enableAutoReply": false,
        "replyTimeout": "",
        "enableRateLimit": false,
        "rateLimit": "",
        "rateLimitWindow": "",
        "rateLimitBurst": "",
        "enableHeaders": false,
        "headers": "",
        "enableMsgExpiration": false,
        "msgExpiration": "",
        "x": 500,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "d4698eb7f9f5a9ee",
        "type": "nats-suite-subscribe",
        "z": "fdf4576e5737a4e2",
        "name": "Subscribe: demo.service.request",
        "server": "f299d3b622714522",
        "debug": false,
        "dataformat": "auto",
        "datapointid": "demo.service.request",
        "topicfield": "subject",
        "subscriptionMode": "static",
        "x": 230,
        "y": 180,
        "wires": [
            [
                "580d422590d643b5"
            ]
        ]
    },
    {
        "id": "580d422590d643b5",
        "type": "function",
        "z": "fdf4576e5737a4e2",
        "name": "Service Handler",
        "func": "// Service Handler - Verarbeitet die Anfrage\n// und bereitet die Antwort vor\n\n// Das replyTo-Subject wird IM PAYLOAD mitgeschickt\n// (nicht als separate msg-Eigenschaft, da nur payload über NATS gesendet wird)\nconst replyTo = msg.payload.replyTo;\n\nif (!replyTo) {\n    node.warn('Keine replyTo-Adresse im Payload!');\n    node.warn('Empfangener Payload: ' + JSON.stringify(msg.payload));\n    return null;\n}\n\n// Verarbeite die Anfrage (Beispiel: Echo mit Timestamp)\nconst request = msg.payload;\nconst response = {\n    success: true,\n    originalRequest: request,\n    processedAt: new Date().toISOString(),\n    service: 'demo-service',\n    message: 'Anfrage erfolgreich verarbeitet!'\n};\n\n// Setze das Topic auf das Reply-Subject\nmsg.topic = replyTo;\nmsg.payload = response;\n\nnode.status({fill:'green', shape:'dot', text:'Reply an: ' + replyTo});\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 180,
        "wires": [
            [
                "9a611ff152522e5f"
            ]
        ]
    },
    {
        "id": "9a611ff152522e5f",
        "type": "nats-suite-publish",
        "z": "fdf4576e5737a4e2",
        "name": "Publish Response",
        "server": "f299d3b622714522",
        "debug": false,
        "enableBuffer": false,
        "bufferSize": "",
        "bufferSizeBytes": "",
        "bufferMode": "drop-oldest",
        "bufferAutoSaveInterval": "",
        "dataformat": "reply",
        "datapointid": "",
        "enableBatch": false,
        "batchSize": "",
        "batchInterval": "",
        "batchMode": "hybrid",
        "enableRequestReply": false,
        "requestTimeout": "",
        "enableAutoReply": false,
        "replyTimeout": "",
        "enableRateLimit": false,
        "rateLimit": "",
        "rateLimitWindow": "",
        "rateLimitBurst": "",
        "enableHeaders": false,
        "headers": "",
        "enableMsgExpiration": false,
        "msgExpiration": "",
        "x": 760,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "3c59f4ff4fa5a610",
        "type": "debug",
        "z": "fdf4576e5737a4e2",
        "name": "Response erhalten",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 890,
        "y": 100,
        "wires": []
    },
    {
        "id": "8d9d84c5ed6d5a6b",
        "type": "inject",
        "z": "fdf4576e5737a4e2",
        "name": "Request senden",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "replyTo",
                "v": "demo.reply.inbox",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "demo.service.request",
        "payload": "{\"action\":\"greet\",\"name\":\"Node-RED\",\"timestamp\":\"${new Date().toISOString()}\"}",
        "payloadType": "json",
        "x": 160,
        "y": 100,
        "wires": [
            [
                "866c54cd833f8501"
            ]
        ]
    },
    {
        "id": "866c54cd833f8501",
        "type": "function",
        "z": "fdf4576e5737a4e2",
        "name": "Prepare Request",
        "func": "// Bereite den Request vor\n// WICHTIG: Das replyTo muss IM PAYLOAD sein,\n// da nur der Payload über NATS gesendet wird!\n\nmsg.payload = {\n    action: 'greet',\n    name: 'Node-RED',\n    timestamp: new Date().toISOString(),\n    requestId: Math.random().toString(36).substring(7),\n    replyTo: 'demo.reply.inbox'  // Reply-Subject im Payload!\n};\n\nnode.status({fill:'blue', shape:'dot', text:'Request gesendet'});\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 100,
        "wires": [
            [
                "dac9933e2fb896f6"
            ]
        ]
    },
    {
        "id": "dac9933e2fb896f6",
        "type": "nats-suite-publish",
        "z": "fdf4576e5737a4e2",
        "name": "Publish Request",
        "server": "f299d3b622714522",
        "debug": false,
        "enableBuffer": false,
        "bufferSize": "",
        "bufferSizeBytes": "",
        "bufferMode": "drop-oldest",
        "bufferAutoSaveInterval": "",
        "dataformat": "json",
        "datapointid": "demo.service.request",
        "enableBatch": false,
        "batchSize": "",
        "batchInterval": "",
        "batchMode": "hybrid",
        "enableRequestReply": true,
        "requestTimeout": "",
        "enableAutoReply": false,
        "replyTimeout": "",
        "enableRateLimit": false,
        "rateLimit": "",
        "rateLimitWindow": "",
        "rateLimitBurst": "",
        "enableHeaders": false,
        "headers": "",
        "enableMsgExpiration": false,
        "msgExpiration": "",
        "x": 600,
        "y": 100,
        "wires": [
            [
                "3c59f4ff4fa5a610"
            ]
        ]
    },
    {
        "id": "ee6edbb4145d3ee3",
        "type": "comment",
        "z": "fdf4576e5737a4e2",
        "name": "Request",
        "info": "",
        "x": 100,
        "y": 40,
        "wires": []
    },
    {
        "id": "ef3ea26af0c4e34a",
        "type": "nats-suite-service",
        "z": "56fda4fe68183684",
        "name": "",
        "server": "f299d3b622714522",
        "mode": "discover",
        "serviceName": "my-service",
        "serviceVersion": "1.0.0",
        "serviceDescription": "",
        "endpoint": "process",
        "endpointSubject": "",
        "queueGroup": "",
        "metadata": "",
        "autoStart": true,
        "statsType": "server",
        "checkOnStart": true,
        "periodicCheck": false,
        "checkInterval": 30,
        "enableConnectivityTests": true,
        "latencyThreshold": 100,
        "reconnectThreshold": 5,
        "throughputThreshold": 1000,
        "debug": false,
        "x": 440,
        "y": 140,
        "wires": [
            [
                "394b3769be59f8e6"
            ]
        ]
    },
    {
        "id": "1e031032cf23b080",
        "type": "inject",
        "z": "56fda4fe68183684",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 140,
        "wires": [
            [
                "ef3ea26af0c4e34a"
            ]
        ]
    },
    {
        "id": "394b3769be59f8e6",
        "type": "debug",
        "z": "56fda4fe68183684",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 140,
        "wires": []
    },
    {
        "id": "d6e91a9c0f805b8f",
        "type": "nats-suite-service",
        "z": "56fda4fe68183684",
        "name": "",
        "server": "f299d3b622714522",
        "mode": "stats",
        "serviceName": "my-service",
        "serviceVersion": "1.0.0",
        "serviceDescription": "",
        "endpoint": "process",
        "endpointSubject": "",
        "queueGroup": "",
        "metadata": "",
        "autoStart": true,
        "statsType": "server",
        "checkOnStart": true,
        "periodicCheck": false,
        "checkInterval": 30,
        "enableConnectivityTests": true,
        "latencyThreshold": 100,
        "reconnectThreshold": 5,
        "throughputThreshold": 1000,
        "debug": false,
        "x": 410,
        "y": 280,
        "wires": [
            [
                "469e4f46fe51f33f"
            ]
        ]
    },
    {
        "id": "fccc939753ef7af0",
        "type": "inject",
        "z": "56fda4fe68183684",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 280,
        "wires": [
            [
                "d6e91a9c0f805b8f"
            ]
        ]
    },
    {
        "id": "469e4f46fe51f33f",
        "type": "debug",
        "z": "56fda4fe68183684",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 280,
        "wires": []
    },
    {
        "id": "604fd02677b4a39b",
        "type": "nats-suite-service",
        "z": "56fda4fe68183684",
        "name": "",
        "server": "f299d3b622714522",
        "mode": "service",
        "serviceName": "my-service",
        "serviceVersion": "1.0.2",
        "serviceDescription": "test test test ",
        "endpoint": "process",
        "endpointSubject": "testservice",
        "queueGroup": "testservice",
        "metadata": "",
        "autoStart": true,
        "statsType": "server",
        "checkOnStart": true,
        "periodicCheck": false,
        "checkInterval": 30,
        "enableConnectivityTests": true,
        "latencyThreshold": 100,
        "reconnectThreshold": 5,
        "throughputThreshold": 1000,
        "debug": false,
        "x": 440,
        "y": 480,
        "wires": [
            [
                "4dfc6d75af5c12b9"
            ]
        ]
    },
    {
        "id": "2ea6129f31e2baa0",
        "type": "inject",
        "z": "56fda4fe68183684",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 480,
        "wires": [
            [
                "604fd02677b4a39b"
            ]
        ]
    },
    {
        "id": "4dfc6d75af5c12b9",
        "type": "debug",
        "z": "56fda4fe68183684",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 480,
        "wires": []
    },
    {
        "id": "fcfc96a439829f6a",
        "type": "nats-suite-service",
        "z": "56fda4fe68183684",
        "name": "",
        "server": "f299d3b622714522",
        "mode": "health",
        "serviceName": "my-service",
        "serviceVersion": "1.0.0",
        "serviceDescription": "",
        "endpoint": "process",
        "endpointSubject": "",
        "queueGroup": "",
        "metadata": "",
        "autoStart": true,
        "statsType": "server",
        "checkOnStart": true,
        "periodicCheck": false,
        "checkInterval": 30,
        "enableConnectivityTests": true,
        "latencyThreshold": 100,
        "reconnectThreshold": 5,
        "throughputThreshold": 1000,
        "debug": false,
        "x": 390,
        "y": 600,
        "wires": [
            [
                "01c7ce17ca0b92eb"
            ]
        ]
    },
    {
        "id": "709f57dd9255be55",
        "type": "inject",
        "z": "56fda4fe68183684",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 600,
        "wires": [
            [
                "fcfc96a439829f6a"
            ]
        ]
    },
    {
        "id": "01c7ce17ca0b92eb",
        "type": "debug",
        "z": "56fda4fe68183684",
        "name": "debug 7",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 600,
        "wires": []
    },
    {
        "id": "3881e8a97e35a488",
        "type": "nats-suite-service",
        "z": "56fda4fe68183684",
        "name": "",
        "server": "f299d3b622714522",
        "mode": "nats-stats",
        "serviceName": "my-service",
        "serviceVersion": "1.0.0",
        "serviceDescription": "",
        "endpoint": "process",
        "endpointSubject": "",
        "queueGroup": "",
        "metadata": "",
        "autoStart": true,
        "statsType": "server",
        "checkOnStart": true,
        "periodicCheck": false,
        "checkInterval": 30,
        "enableConnectivityTests": true,
        "latencyThreshold": 100,
        "reconnectThreshold": 5,
        "throughputThreshold": 1000,
        "debug": false,
        "x": 390,
        "y": 720,
        "wires": [
            [
                "a2e0e5b2e90e522f"
            ]
        ]
    },
    {
        "id": "d171e6a0fde22ea2",
        "type": "inject",
        "z": "56fda4fe68183684",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 720,
        "wires": [
            [
                "3881e8a97e35a488"
            ]
        ]
    },
    {
        "id": "a2e0e5b2e90e522f",
        "type": "debug",
        "z": "56fda4fe68183684",
        "name": "debug 8",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 720,
        "wires": []
    },
    {
        "id": "076b2a79c48ec7dd",
        "type": "nats-suite-service",
        "z": "56fda4fe68183684",
        "name": "",
        "server": "f299d3b622714522",
        "mode": "ping",
        "serviceName": "my-service",
        "serviceVersion": "1.0.0",
        "serviceDescription": "",
        "endpoint": "process",
        "endpointSubject": "",
        "queueGroup": "",
        "metadata": "",
        "autoStart": true,
        "statsType": "server",
        "checkOnStart": true,
        "periodicCheck": false,
        "checkInterval": 30,
        "enableConnectivityTests": true,
        "latencyThreshold": 100,
        "reconnectThreshold": 5,
        "throughputThreshold": 1000,
        "debug": false,
        "x": 410,
        "y": 380,
        "wires": [
            [
                "0d39cc0db99f3445"
            ]
        ]
    },
    {
        "id": "8789d0ffdf4853c9",
        "type": "inject",
        "z": "56fda4fe68183684",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 380,
        "wires": [
            [
                "076b2a79c48ec7dd"
            ]
        ]
    },
    {
        "id": "0d39cc0db99f3445",
        "type": "debug",
        "z": "56fda4fe68183684",
        "name": "debug 9",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 380,
        "wires": []
    },
    {
        "id": "cd0bb54353fedd09",
        "type": "nats-suite-server-manager",
        "z": "324298df8d0fb52b",
        "name": "",
        "serverType": "embedded",
        "port": "4223",
        "leafPort": 7422,
        "enableJetStream": true,
        "storeDir": "",
        "leafRemoteUrl": "",
        "leafRemoteUser": "",
        "leafRemotePass": "",
        "autoStart": true,
        "debug": true,
        "serverName": "",
        "maxConnections": "",
        "maxPayload": "",
        "maxSubscriptions": "",
        "maxControlLine": "",
        "writeDeadline": "",
        "httpPort": "",
        "httpsPort": "",
        "enableTrace": false,
        "enableDebugLog": false,
        "noLog": false,
        "logFile": "",
        "pidFile": "",
        "maxMemoryStore": "",
        "syncInterval": "",
        "hostAddr": "",
        "clientAdvertise": "",
        "noAdvertise": false,
        "connectRetries": "",
        "enableLeafNodeMode": false,
        "x": 180,
        "y": 100,
        "wires": [
            [
                "6815de3640179f8b"
            ]
        ]
    },
    {
        "id": "6815de3640179f8b",
        "type": "debug",
        "z": "324298df8d0fb52b",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 100,
        "wires": []
    }
]