node-red/flows.json
[
    {
        "id": "d970d99ab7b62ec8",
        "type": "tab",
        "label": "Flow 3",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "headers-example",
        "type": "tab",
        "label": "01 - Message Headers Test",
        "disabled": false,
        "info": "Test for Message Headers feature\n\n1. Deploy the flow\n2. Click the inject node\n3. Check debug output: headers should be present"
    },
    {
        "id": "7af22689f9d37b1b",
        "type": "tab",
        "label": "Publish Node - All Features",
        "disabled": false,
        "info": "Comprehensive examples for nats-suite-publish node\n\nFeatures demonstrated:\n- Basic publish (JSON, String, Buffer)\n- Message Headers (static + dynamic)\n- Message Expiration (TTL)\n- Buffering (count + bytes, persistence)\n- Batch Processing\n- Rate Limiting\n- Auto-Reply Handler"
    },
    {
        "id": "fdf4576e5737a4e2",
        "type": "tab",
        "label": "Request-Reply (Pub/Sub)",
        "disabled": false,
        "info": "Request-Reply Pattern with Publish/Subscribe\n\nThis flow demonstrates how to build Request-Reply\nusing simple Publish and Subscribe nodes,\nwithout using nats-suite-request or nats-suite-reply.\n\nPrinciple:\n1. Requester publishes with own Reply-Subject\n2. Service subscribes, processes and publishes response\n3. Requester subscribes to Reply-Subject for response"
    },
    {
        "id": "f299d3b622714522",
        "type": "nats-suite-server",
        "server": "nats://nats-server:4222",
        "authMethod": "none",
        "enableTLS": false,
        "tlsRejectUnauthorized": true,
        "tlsCaFile": "",
        "tlsCertFile": "",
        "tlsKeyFile": "",
        "maxReconnectAttempts": 10,
        "reconnectTimeWait": 1000,
        "timeout": 10000,
        "pingInterval": 30000,
        "maxPingOut": 3,
        "debug": false
    },
    {
        "id": "63f3bd466aaef063",
        "type": "nats-suite-server",
        "server": "nats://localhost:4223",
        "authMethod": "none",
        "enableTLS": false,
        "tlsRejectUnauthorized": true,
        "tlsCaFile": "",
        "tlsCertFile": "",
        "tlsKeyFile": "",
        "maxReconnectAttempts": "",
        "reconnectTimeWait": "",
        "timeout": "",
        "pingInterval": "",
        "maxPingOut": "",
        "debug": true
    },
    {
        "id": "572868ddc8f6bb8e",
        "type": "nats-suite-server-manager",
        "z": "d970d99ab7b62ec8",
        "name": "",
        "serverType": "embedded",
        "port": "4223",
        "leafPort": 7422,
        "enableJetStream": true,
        "storeDir": "",
        "leafRemoteUrl": "",
        "leafRemoteUser": "",
        "leafRemotePass": "",
        "autoStart": true,
        "debug": true,
        "serverName": "",
        "maxConnections": "",
        "maxPayload": "",
        "maxSubscriptions": "",
        "maxControlLine": "",
        "writeDeadline": "",
        "httpPort": "",
        "httpsPort": "",
        "enableTrace": false,
        "enableDebugLog": false,
        "noLog": false,
        "logFile": "",
        "pidFile": "",
        "maxMemoryStore": "",
        "syncInterval": "",
        "hostAddr": "",
        "clientAdvertise": "",
        "noAdvertise": false,
        "connectRetries": "",
        "enableLeafNodeMode": false,
        "x": 380,
        "y": 140,
        "wires": [
            [
                "f3c49e96d5ab9b45"
            ]
        ]
    },
    {
        "id": "443684332dd71c8b",
        "type": "nats-suite-publish",
        "z": "d970d99ab7b62ec8",
        "name": "",
        "server": "63f3bd466aaef063",
        "debug": false,
        "enableBuffer": false,
        "bufferSize": 1000,
        "bufferSizeType": "count",
        "bufferSizeBytes": 10485760,
        "bufferMode": "drop-oldest",
        "bufferPersistence": "none",
        "bufferAutoSaveInterval": 30,
        "message": "",
        "dataformat": "json",
        "datapointid": "test",
        "enableBatch": false,
        "batchSize": 100,
        "batchInterval": 1000,
        "batchMode": "hybrid",
        "enableAutoReply": false,
        "replyTimeout": 5000,
        "enableRateLimit": false,
        "rateLimit": 100,
        "rateLimitWindow": 1000,
        "rateLimitBurst": 20,
        "rateLimitAction": "drop",
        "enableHeaders": false,
        "headers": "",
        "enableMsgExpiration": false,
        "msgExpiration": 0,
        "x": 530,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "04aeed2b87e4e013",
        "type": "inject",
        "z": "d970d99ab7b62ec8",
        "name": "1. Basic JSON",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "test.basic",
        "payload": "{\"temperature\":23.5,\"humidity\":45}",
        "payloadType": "json",
        "x": 320,
        "y": 260,
        "wires": [
            [
                "443684332dd71c8b"
            ]
        ]
    },
    {
        "id": "f3c49e96d5ab9b45",
        "type": "debug",
        "z": "d970d99ab7b62ec8",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 140,
        "wires": []
    },
    {
        "id": "78874a82ba1e7509",
        "type": "nats-suite-subscribe",
        "z": "d970d99ab7b62ec8",
        "name": "",
        "server": "63f3bd466aaef063",
        "dataformat": "auto",
        "datapointid": "test",
        "topicfield": "subject",
        "subscriptionMode": "static",
        "x": 280,
        "y": 360,
        "wires": [
            [
                "060c7560e4168a96"
            ]
        ]
    },
    {
        "id": "060c7560e4168a96",
        "type": "debug",
        "z": "d970d99ab7b62ec8",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 360,
        "wires": []
    },
    {
        "id": "22a323e606cf6bd1",
        "type": "nats-suite-service",
        "z": "d970d99ab7b62ec8",
        "name": "",
        "server": "f299d3b622714522",
        "mode": "ping",
        "serviceName": "my-service",
        "serviceVersion": "1.0.0",
        "serviceDescription": "",
        "endpoint": "process",
        "endpointSubject": "",
        "queueGroup": "",
        "metadata": "",
        "autoStart": true,
        "statsType": "server",
        "checkOnStart": true,
        "periodicCheck": false,
        "checkInterval": 30,
        "enableConnectivityTests": true,
        "latencyThreshold": 100,
        "reconnectThreshold": 5,
        "throughputThreshold": 1000,
        "debug": false,
        "x": 430,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "inject-headers",
        "type": "inject",
        "z": "headers-example",
        "name": "Send with Headers",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "headers",
                "v": "{\"X-User\":\"TestUser\",\"X-Request-ID\":\"12345\"}",
                "vt": "json"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"message\":\"Test with headers\"}",
        "payloadType": "json",
        "x": 140,
        "y": 100,
        "wires": [
            [
                "publish-headers"
            ]
        ]
    },
    {
        "id": "publish-headers",
        "type": "nats-suite-publish",
        "z": "headers-example",
        "name": "Publish with Headers",
        "server": "f299d3b622714522",
        "debug": true,
        "enableBuffer": false,
        "bufferSize": "",
        "bufferSizeBytes": "",
        "bufferMode": "drop-oldest",
        "bufferAutoSaveInterval": "",
        "dataformat": "json",
        "datapointid": "test.headers",
        "enableBatch": false,
        "batchSize": "",
        "batchInterval": "",
        "batchMode": "hybrid",
        "enableAutoReply": false,
        "replyTimeout": "",
        "enableRateLimit": false,
        "rateLimit": "",
        "rateLimitWindow": "",
        "rateLimitBurst": "",
        "enableHeaders": true,
        "headers": "{\"X-App\":\"Node-RED\",\"X-Version\":\"1.0\"}",
        "enableMsgExpiration": false,
        "msgExpiration": "",
        "x": 380,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "subscribe-headers",
        "type": "nats-suite-subscribe",
        "z": "headers-example",
        "name": "Subscribe",
        "server": "f299d3b622714522",
        "dataformat": "auto",
        "datapointid": "",
        "topicfield": "subject",
        "subscriptionMode": "dynamic",
        "x": 360,
        "y": 220,
        "wires": [
            [
                "debug-headers"
            ]
        ]
    },
    {
        "id": "debug-headers",
        "type": "debug",
        "z": "headers-example",
        "name": "Check Headers",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 590,
        "y": 220,
        "wires": []
    },
    {
        "id": "comment-headers",
        "type": "comment",
        "z": "headers-example",
        "name": "✨ Neues Feature: Message Headers ✨",
        "info": "# Message Headers Test\n\n## Erwartet:\n- msg.headers.X-App: \"Node-RED\"\n- msg.headers.X-Version: \"1.0\"\n- msg.headers.X-User: \"TestUser\"\n- msg.headers.X-Request-ID: \"12345\"\n\n## Debug Log:\n- \"Publishing with headers: {...}\"",
        "x": 190,
        "y": 40,
        "wires": []
    },
    {
        "id": "0629794872e46bf7",
        "type": "inject",
        "z": "headers-example",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "test.headers",
        "x": 110,
        "y": 220,
        "wires": [
            [
                "subscribe-headers"
            ]
        ]
    },
    {
        "id": "247cfc25a19c5524",
        "type": "inject",
        "z": "headers-example",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "test.headers2",
        "x": 110,
        "y": 260,
        "wires": [
            [
                "subscribe-headers"
            ]
        ]
    },
    {
        "id": "05e0df2336c2c1ad",
        "type": "inject",
        "z": "7af22689f9d37b1b",
        "name": "1. Basic JSON",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "test.basic",
        "payload": "{\"temperature\":23.5,\"humidity\":45}",
        "payloadType": "json",
        "x": 140,
        "y": 60,
        "wires": [
            [
                "8bbc3f9c4b6dd6e2"
            ]
        ]
    },
    {
        "id": "8bbc3f9c4b6dd6e2",
        "type": "nats-suite-publish",
        "z": "7af22689f9d37b1b",
        "name": "Publish Basic",
        "server": "f299d3b622714522",
        "debug": false,
        "enableBuffer": false,
        "bufferSize": "",
        "bufferSizeBytes": "",
        "bufferMode": "drop-oldest",
        "bufferAutoSaveInterval": "",
        "dataformat": "json",
        "datapointid": "test.basic",
        "enableBatch": false,
        "batchSize": "",
        "batchInterval": "",
        "batchMode": "hybrid",
        "enableAutoReply": false,
        "replyTimeout": "",
        "enableRateLimit": false,
        "rateLimit": "",
        "rateLimitWindow": "",
        "rateLimitBurst": "",
        "enableHeaders": false,
        "headers": "",
        "enableMsgExpiration": false,
        "msgExpiration": "",
        "x": 500,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "2369e962f57dfe33",
        "type": "inject",
        "z": "7af22689f9d37b1b",
        "name": "2. With Headers",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "headers",
                "v": "{\"X-User\":\"Admin\",\"X-Request-ID\":\"req-123\"}",
                "vt": "json"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "test.headers",
        "payload": "{\"message\":\"Test with headers\"}",
        "payloadType": "json",
        "x": 150,
        "y": 120,
        "wires": [
            [
                "2ec8bcc9fbf81eb1"
            ]
        ]
    },
    {
        "id": "2ec8bcc9fbf81eb1",
        "type": "nats-suite-publish",
        "z": "7af22689f9d37b1b",
        "name": "Publish Headers",
        "server": "f299d3b622714522",
        "debug": false,
        "enableBuffer": false,
        "bufferSize": "",
        "bufferSizeBytes": "",
        "bufferMode": "drop-oldest",
        "bufferAutoSaveInterval": "",
        "dataformat": "json",
        "datapointid": "test.headers",
        "enableBatch": false,
        "batchSize": "",
        "batchInterval": "",
        "batchMode": "hybrid",
        "enableAutoReply": false,
        "replyTimeout": "",
        "enableRateLimit": false,
        "rateLimit": "",
        "rateLimitWindow": "",
        "rateLimitBurst": "",
        "enableHeaders": true,
        "headers": "{\"X-App\":\"Node-RED\",\"X-Version\":\"1.0\"}",
        "enableMsgExpiration": false,
        "msgExpiration": "",
        "x": 500,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "f58b4aa45694ce3c",
        "type": "inject",
        "z": "7af22689f9d37b1b",
        "name": "3. With Expiration",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "expiration",
                "v": "10",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "test.expiration",
        "payload": "This message expires",
        "payloadType": "str",
        "x": 160,
        "y": 180,
        "wires": [
            [
                "4896a36ec345567a"
            ]
        ]
    },
    {
        "id": "4896a36ec345567a",
        "type": "nats-suite-publish",
        "z": "7af22689f9d37b1b",
        "name": "Publish Expiration",
        "server": "f299d3b622714522",
        "debug": false,
        "enableBuffer": false,
        "bufferSize": "",
        "bufferSizeBytes": "",
        "bufferMode": "drop-oldest",
        "bufferAutoSaveInterval": "",
        "dataformat": "string",
        "datapointid": "test.expiration",
        "enableBatch": false,
        "batchSize": "",
        "batchInterval": "",
        "batchMode": "hybrid",
        "enableAutoReply": false,
        "replyTimeout": "",
        "enableRateLimit": false,
        "rateLimit": "",
        "rateLimitWindow": "",
        "rateLimitBurst": "",
        "enableHeaders": false,
        "headers": "",
        "enableMsgExpiration": true,
        "msgExpiration": 5,
        "x": 510,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "4e322a146c88ba34",
        "type": "inject",
        "z": "7af22689f9d37b1b",
        "name": "4. Buffering (Count)",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "10",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "test.buffer",
        "payload": "{\"id\":\"{{$index}}\",\"data\":\"buffered\"}",
        "payloadType": "json",
        "x": 160,
        "y": 240,
        "wires": [
            [
                "8da79a8b54a4c12d"
            ]
        ]
    },
    {
        "id": "8da79a8b54a4c12d",
        "type": "nats-suite-publish",
        "z": "7af22689f9d37b1b",
        "name": "Publish Buffer (Count)",
        "server": "f299d3b622714522",
        "debug": false,
        "enableBuffer": true,
        "bufferSize": 100,
        "bufferSizeType": "count",
        "bufferSizeBytes": "",
        "bufferMode": "drop-oldest",
        "bufferPersistence": "context",
        "bufferAutoSaveInterval": 30,
        "dataformat": "json",
        "datapointid": "test.buffer",
        "enableBatch": false,
        "batchSize": "",
        "batchInterval": "",
        "batchMode": "hybrid",
        "enableAutoReply": false,
        "replyTimeout": "",
        "enableRateLimit": false,
        "rateLimit": "",
        "rateLimitWindow": "",
        "rateLimitBurst": "",
        "enableHeaders": false,
        "headers": "",
        "enableMsgExpiration": false,
        "msgExpiration": "",
        "x": 520,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "b5acabb908b688c6",
        "type": "inject",
        "z": "7af22689f9d37b1b",
        "name": "5. Buffering (Bytes)",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"large\":\"data\"}",
        "payloadType": "json",
        "x": 170,
        "y": 300,
        "wires": [
            [
                "ad2f89503c9a170f"
            ]
        ]
    },
    {
        "id": "ad2f89503c9a170f",
        "type": "nats-suite-publish",
        "z": "7af22689f9d37b1b",
        "name": "Publish Buffer (Bytes)",
        "server": "f299d3b622714522",
        "debug": true,
        "enableBuffer": true,
        "bufferSize": 1000,
        "bufferSizeType": "count",
        "bufferSizeBytes": 1048576,
        "bufferMode": "drop-newest",
        "bufferPersistence": "file",
        "bufferAutoSaveInterval": 60,
        "dataformat": "json",
        "datapointid": "test.buffer.bytes",
        "enableBatch": false,
        "batchSize": "",
        "batchInterval": "",
        "batchMode": "hybrid",
        "enableAutoReply": false,
        "replyTimeout": "",
        "enableRateLimit": false,
        "rateLimit": "",
        "rateLimitWindow": "",
        "rateLimitBurst": "",
        "enableHeaders": false,
        "headers": "",
        "enableMsgExpiration": false,
        "msgExpiration": "",
        "x": 520,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "ba608afc20f5fb70",
        "type": "inject",
        "z": "7af22689f9d37b1b",
        "name": "6. Batch Processing",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"batch\":\"item\",\"index\":\"{{$index}}\"}",
        "payloadType": "json",
        "x": 150,
        "y": 360,
        "wires": [
            [
                "dde499556e599556"
            ]
        ]
    },
    {
        "id": "dde499556e599556",
        "type": "nats-suite-publish",
        "z": "7af22689f9d37b1b",
        "name": "Publish Batch",
        "server": "f299d3b622714522",
        "debug": false,
        "enableBuffer": false,
        "bufferSize": "",
        "bufferSizeBytes": "",
        "bufferMode": "drop-oldest",
        "bufferAutoSaveInterval": "",
        "dataformat": "json",
        "datapointid": "test.batch",
        "enableBatch": true,
        "batchSize": 10,
        "batchInterval": "10000",
        "batchMode": "hybrid",
        "enableAutoReply": false,
        "replyTimeout": "",
        "enableRateLimit": false,
        "rateLimit": "",
        "rateLimitWindow": "",
        "rateLimitBurst": "",
        "enableHeaders": false,
        "headers": "",
        "enableMsgExpiration": false,
        "msgExpiration": "",
        "x": 500,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "cf1ea7f80f893a51",
        "type": "inject",
        "z": "7af22689f9d37b1b",
        "name": "7. Rate Limiting",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "100",
        "crontab": "",
        "once": false,
        "onceDelay": 0.01,
        "topic": "test.ratelimit",
        "payload": "{\"msg\":\"rate limited\",\"index\":\"{{$index}}\"}",
        "payloadType": "json",
        "x": 160,
        "y": 420,
        "wires": [
            [
                "c1a74946a5d68294"
            ]
        ]
    },
    {
        "id": "c1a74946a5d68294",
        "type": "nats-suite-publish",
        "z": "7af22689f9d37b1b",
        "name": "Publish Rate Limit",
        "server": "f299d3b622714522",
        "debug": false,
        "enableBuffer": false,
        "bufferSize": "",
        "bufferSizeBytes": "",
        "bufferMode": "drop-oldest",
        "bufferAutoSaveInterval": "",
        "dataformat": "json",
        "datapointid": "test.ratelimit",
        "enableBatch": false,
        "batchSize": "",
        "batchInterval": "",
        "batchMode": "hybrid",
        "enableAutoReply": false,
        "replyTimeout": "",
        "enableRateLimit": true,
        "rateLimit": 10,
        "rateLimitWindow": 1000,
        "rateLimitBurst": 5,
        "rateLimitAction": "drop",
        "enableHeaders": false,
        "headers": "",
        "enableMsgExpiration": false,
        "msgExpiration": "",
        "x": 510,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "50686c82457fa12b",
        "type": "inject",
        "z": "7af22689f9d37b1b",
        "name": "8. String Format",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "test.string",
        "payload": "Simple string message",
        "payloadType": "str",
        "x": 150,
        "y": 480,
        "wires": [
            [
                "a586c0af1b31fd15"
            ]
        ]
    },
    {
        "id": "a586c0af1b31fd15",
        "type": "nats-suite-publish",
        "z": "7af22689f9d37b1b",
        "name": "Publish String",
        "server": "f299d3b622714522",
        "debug": false,
        "enableBuffer": false,
        "bufferSize": "",
        "bufferSizeBytes": "",
        "bufferMode": "drop-oldest",
        "bufferAutoSaveInterval": "",
        "dataformat": "string",
        "datapointid": "test.string",
        "enableBatch": false,
        "batchSize": "",
        "batchInterval": "",
        "batchMode": "hybrid",
        "enableAutoReply": false,
        "replyTimeout": "",
        "enableRateLimit": false,
        "rateLimit": "",
        "rateLimitWindow": "",
        "rateLimitBurst": "",
        "enableHeaders": false,
        "headers": "",
        "enableMsgExpiration": false,
        "msgExpiration": "",
        "x": 500,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "7c6994af4cce8fc9",
        "type": "inject",
        "z": "7af22689f9d37b1b",
        "name": "9. Reply Format",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"response\":\"Reply message\"}",
        "payloadType": "json",
        "x": 140,
        "y": 540,
        "wires": [
            [
                "81837df43f23dcae"
            ]
        ]
    },
    {
        "id": "81837df43f23dcae",
        "type": "nats-suite-publish",
        "z": "7af22689f9d37b1b",
        "name": "Publish Reply",
        "server": "f299d3b622714522",
        "debug": false,
        "enableBuffer": false,
        "bufferSize": "",
        "bufferSizeBytes": "",
        "bufferMode": "drop-oldest",
        "bufferAutoSaveInterval": "",
        "dataformat": "reply",
        "datapointid": "",
        "enableBatch": false,
        "batchSize": "",
        "batchInterval": "",
        "batchMode": "hybrid",
        "enableAutoReply": false,
        "replyTimeout": "",
        "enableRateLimit": false,
        "rateLimit": "",
        "rateLimitWindow": "",
        "rateLimitBurst": "",
        "enableHeaders": false,
        "headers": "",
        "enableMsgExpiration": false,
        "msgExpiration": "",
        "x": 500,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "d4698eb7f9f5a9ee",
        "type": "nats-suite-subscribe",
        "z": "fdf4576e5737a4e2",
        "name": "Subscribe: demo.service.request",
        "server": "f299d3b622714522",
        "debug": false,
        "dataformat": "auto",
        "datapointid": "demo.service.request",
        "topicfield": "subject",
        "subscriptionMode": "static",
        "x": 200,
        "y": 160,
        "wires": [
            [
                "580d422590d643b5"
            ]
        ]
    },
    {
        "id": "580d422590d643b5",
        "type": "function",
        "z": "fdf4576e5737a4e2",
        "name": "Service Handler",
        "func": "// Service Handler - Processes the request\n// and prepares the response\n\n// The replyTo subject is sent IN THE PAYLOAD\n// (not as a separate msg property, since only payload is sent over NATS)\nconst replyTo = msg.payload.replyTo;\n\nif (!replyTo) {\n    node.warn('No replyTo address in payload!');\n    node.warn('Received payload: ' + JSON.stringify(msg.payload));\n    return null;\n}\n\n// Process the request (Example: Echo with timestamp)\nconst request = msg.payload;\nconst response = {\n    success: true,\n    originalRequest: request,\n    processedAt: new Date().toISOString(),\n    service: 'demo-service',\n    message: 'Request successfully processed!'\n};\n\n// Set the topic to the Reply-Subject\nmsg.topic = replyTo;\nmsg.payload = response;\n\nnode.status({fill:'green', shape:'dot', text:'Reply to: ' + replyTo});\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 160,
        "wires": [
            [
                "9a611ff152522e5f"
            ]
        ]
    },
    {
        "id": "9a611ff152522e5f",
        "type": "nats-suite-publish",
        "z": "fdf4576e5737a4e2",
        "name": "Publish Response",
        "server": "f299d3b622714522",
        "debug": false,
        "enableBuffer": false,
        "bufferSize": "",
        "bufferSizeBytes": "",
        "bufferMode": "drop-oldest",
        "bufferAutoSaveInterval": "",
        "dataformat": "json",
        "datapointid": "",
        "enableBatch": false,
        "batchSize": "",
        "batchInterval": "",
        "batchMode": "hybrid",
        "enableAutoReply": false,
        "replyTimeout": "",
        "enableRateLimit": false,
        "rateLimit": "",
        "rateLimitWindow": "",
        "rateLimitBurst": "",
        "enableHeaders": false,
        "headers": "",
        "enableMsgExpiration": false,
        "msgExpiration": "",
        "x": 690,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "585f98bdef316cd5",
        "type": "nats-suite-subscribe",
        "z": "fdf4576e5737a4e2",
        "name": "Subscribe: demo.reply.inbox",
        "server": "f299d3b622714522",
        "debug": false,
        "dataformat": "auto",
        "datapointid": "demo.reply.inbox",
        "topicfield": "subject",
        "subscriptionMode": "static",
        "x": 820,
        "y": 100,
        "wires": [
            [
                "3c59f4ff4fa5a610"
            ]
        ]
    },
    {
        "id": "3c59f4ff4fa5a610",
        "type": "debug",
        "z": "fdf4576e5737a4e2",
        "name": "Response received",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload.message",
        "statusType": "auto",
        "x": 1080,
        "y": 100,
        "wires": []
    },
    {
        "id": "8d9d84c5ed6d5a6b",
        "type": "inject",
        "z": "fdf4576e5737a4e2",
        "name": "Send Request",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "replyTo",
                "v": "demo.reply.inbox",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "demo.service.request",
        "payload": "{\"action\":\"greet\",\"name\":\"Node-RED\",\"timestamp\":\"${new Date().toISOString()}\"}",
        "payloadType": "json",
        "x": 160,
        "y": 100,
        "wires": [
            [
                "866c54cd833f8501"
            ]
        ]
    },
    {
        "id": "866c54cd833f8501",
        "type": "function",
        "z": "fdf4576e5737a4e2",
        "name": "Prepare Request",
        "func": "// Prepare the request\n// IMPORTANT: The replyTo must be IN THE PAYLOAD,\n// since only the payload is sent over NATS!\n\nmsg.payload = {\n    action: 'greet',\n    name: 'Node-RED',\n    timestamp: new Date().toISOString(),\n    requestId: Math.random().toString(36).substring(7),\n    replyTo: 'demo.reply.inbox'  // Reply-Subject in payload!\n};\n\nnode.status({fill:'blue', shape:'dot', text:'Request sent'});\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 100,
        "wires": [
            [
                "dac9933e2fb896f6"
            ]
        ]
    },
    {
        "id": "dac9933e2fb896f6",
        "type": "nats-suite-publish",
        "z": "fdf4576e5737a4e2",
        "name": "Publish Request",
        "server": "f299d3b622714522",
        "debug": false,
        "enableBuffer": false,
        "bufferSize": "",
        "bufferSizeBytes": "",
        "bufferMode": "drop-oldest",
        "bufferAutoSaveInterval": "",
        "dataformat": "json",
        "datapointid": "demo.service.request",
        "enableBatch": false,
        "batchSize": "",
        "batchInterval": "",
        "batchMode": "hybrid",
        "enableAutoReply": false,
        "replyTimeout": "",
        "enableRateLimit": false,
        "rateLimit": "",
        "rateLimitWindow": "",
        "rateLimitBurst": "",
        "enableHeaders": false,
        "headers": "",
        "enableMsgExpiration": false,
        "msgExpiration": "",
        "x": 580,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "049db6dd9ac62ff1",
        "type": "inject",
        "z": "fdf4576e5737a4e2",
        "name": "Request with dynamic Reply-Subject",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "payload": "{\"data\":\"Important Data\"}",
        "payloadType": "json",
        "x": 240,
        "y": 300,
        "wires": [
            [
                "cc7011c81895c4ef"
            ]
        ]
    },
    {
        "id": "cc7011c81895c4ef",
        "type": "function",
        "z": "fdf4576e5737a4e2",
        "name": "Dynamic Reply-Subject",
        "func": "// Create a unique Reply-Subject for this request\nconst requestId = Date.now() + '-' + Math.random().toString(36).substring(7);\nconst replySubject = 'demo.reply.' + requestId;\n\nmsg.topic = 'demo.service.request';\n// IMPORTANT: replyTo must be IN THE PAYLOAD!\nmsg.payload = {\n    data: msg.payload.data,\n    requestId: requestId,\n    sentAt: new Date().toISOString(),\n    replyTo: replySubject  // Reply-Subject in payload!\n};\n\n// Store the Reply-Subject for later use\nflow.set('lastReplySubject', replySubject);\n\nnode.status({fill:'blue', shape:'dot', text:'Reply: ' + replySubject});\nnode.warn('Reply-Subject: ' + replySubject + ' - Subscribe to this to receive response!');\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 300,
        "wires": [
            [
                "adc04242e545520b"
            ]
        ]
    },
    {
        "id": "adc04242e545520b",
        "type": "nats-suite-publish",
        "z": "fdf4576e5737a4e2",
        "name": "Publish Dynamic Request",
        "server": "f299d3b622714522",
        "debug": false,
        "enableBuffer": false,
        "bufferSize": "",
        "bufferSizeBytes": "",
        "bufferMode": "drop-oldest",
        "bufferAutoSaveInterval": "",
        "dataformat": "auto",
        "datapointid": "",
        "enableBatch": false,
        "batchSize": "",
        "batchInterval": "",
        "batchMode": "hybrid",
        "enableAutoReply": false,
        "replyTimeout": "",
        "enableRateLimit": false,
        "rateLimit": "",
        "rateLimitWindow": "",
        "rateLimitBurst": "",
        "enableHeaders": false,
        "headers": "",
        "enableMsgExpiration": false,
        "msgExpiration": "",
        "x": 820,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "30525ef1c7e920e5",
        "type": "nats-suite-subscribe",
        "z": "fdf4576e5737a4e2",
        "name": "Subscribe: demo.reply.* (Wildcard)",
        "server": "f299d3b622714522",
        "debug": false,
        "dataformat": "auto",
        "datapointid": "demo.reply.*",
        "topicfield": "subject",
        "subscriptionMode": "static",
        "x": 220,
        "y": 380,
        "wires": [
            [
                "11499731227b0d2c"
            ]
        ]
    },
    {
        "id": "11499731227b0d2c",
        "type": "debug",
        "z": "fdf4576e5737a4e2",
        "name": "Dynamic Response",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "subject",
        "statusType": "auto",
        "x": 560,
        "y": 380,
        "wires": []
    },
    {
        "id": "ee6edbb4145d3ee3",
        "type": "comment",
        "z": "fdf4576e5737a4e2",
        "name": "Request",
        "info": "",
        "x": 100,
        "y": 40,
        "wires": []
    },
    {
        "id": "b901d179a1de519f",
        "type": "nats-suite-service",
        "z": "fdf4576e5737a4e2",
        "name": "",
        "server": "f299d3b622714522",
        "mode": "discover",
        "serviceName": "my-service",
        "serviceVersion": "1.0.0",
        "serviceDescription": "",
        "endpoint": "process",
        "endpointSubject": "",
        "queueGroup": "",
        "metadata": "",
        "autoStart": true,
        "debug": false,
        "x": 360,
        "y": 620,
        "wires": [
            [
                "6998d7ecd2dcab84"
            ]
        ]
    },
    {
        "id": "6998d7ecd2dcab84",
        "type": "debug",
        "z": "fdf4576e5737a4e2",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 620,
        "wires": []
    },
    {
        "id": "bc59fc49a3d33220",
        "type": "inject",
        "z": "fdf4576e5737a4e2",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 600,
        "wires": [
            [
                "b901d179a1de519f"
            ]
        ]
    }
]